@import "bourbon/bourbon";

$salmon:#E67B6D;
$font:#5D6976;
$grey:#D2D2D2;
$blue:#8EC0ED;
$lt_blue:#8EC0ED;
$white:#FFF;

$purple:  #9366BC;
$yellow:  #EDEA94;
$orange:  #EDC48E;
$green:   #9AE598;
$salmon_d:#e26757;
$grey_d:#6d6d6d;
$blue_border:#62a7e6;