@import "bourbon/bourbon";
@import "fonts";
@import "colors";

/*
	INPUT STYLES
*/

input[type=text] {
	border:1px solid $grey;
	box-shadow:none;
	background:$white;
	font-family:Signika;
	height:26px;
	padding:2px 6px;
	line-height:24px;
	font-size:16px;
	border-radius:6px;

	&:focus {
		box-shadow:inset 0 0 2px 1px $grey_d;
		outline:none;
	}

	&.span1 {
		width:90px;
	}

	&.span2 {
		width:180px;
	}

	&.span3 {
		width:270px;
	}

	&.span4 {
		width:360px;
	}

	&.span5 {
		width:450px;
	}
}