/* MAIN COLORS */
/* SECONDARY COLORS */
@font-face {
  font-family: Quicksand;
  src: url("/static/fonts/Quicksand/Quicksand_Book-webfont.ttf");
  /* url('Quicksand_Book-webfont.ttf');  IE9 */ }

@font-face {
  font-family: QuicksandBold;
  src: url("static/fonts/Quicksand/Quicksand_Bold-webfont.ttf");
  /* url('Quicksand_Bold-webfont.ttf');  IE9 */ }

@font-face {
  font-family: Signika;
  src: url("/static/fonts/Signika/Signika-Regular.ttf");
  /* url('Signika-Regular.ttf');  IE9 */ }

@font-face {
  font-family: SignikaBold;
  src: url("/static/fonts/Signika/Signika-Bold.ttf");
  /* url('Signika-Bold.ttf');  IE9 */ }

body, html {
  padding: 0;
  margin: 0;
  font-family: Signika;
  color: #5d6976;
  background: #f1f3f5;
  position: relative;}
  	body a{
	  	 text-decoration: none;}

/* NAVBAR AREA */

#navbar {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  background: #e67b6d;
  z-index: 9999;
 
  background-color: #e67b6d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e67b6d), color-stop(100%, #e46f60));
  background-image: -webkit-linear-gradient(#e67b6d, #e46f60);
  background-image: linear-gradient(#e67b6d, #e46f60); }
  #navbar_content {
	  width: 1080px;
	  margin: 0 auto;
	  position: relative;}
  	#navbar #logo {
    float: left;
    padding: 10px;
    padding-left: 0px;
    margin-left: 5px; }
  	  #navbar #logo img {
      width: 190px;
      height: 60px;
      display: block; }
    #navbar_list {
	float: right;
	position: relative;
	width: 560px;
	color: white;
	font-family: Quicksand;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 90px;}
	  #navbar_list li {
	  float: right;
	  list-style: none;
	  margin-left: 70px;
	  padding: 4px;
	  height: 84px;
	  margin-top: -20px;
	  display: inline-block;
	  text-align: center;
	  text-decoration: none;
	  color: white;}  
	    #navbar_list li:hover {
	    text-decoration: underline;
	    -webkit-transition: all .1s ease-in-out;
	    -moz-transition: all .1s ease-in-out;
	    -o-transition: all .1s ease-in-out;
	    transition: all .1s ease-in-out;}
	        	        

/* CONTENT */

.text_container {
	width: 1080px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;}

.section-title {
	text-align: center;
	width: 190px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
	border-bottom: 1px solid rgba(93,105,117,0.26);}


/* Top SECTION */

#top-section {
	background-color: #8EC0ED;
	width: 100%;
	height: 470px;}
		#top-section h1 {
		text-align: center;
		color: white;
		font-family: Quicksand;
		margin-top: 60px;
		font-size: 36px;}
		#top-section h3 {
		text-align: center;
		color: white;
		font-weight: 400;
		opacity: 0.8;
		margin-top: 20px;
		font-size: 20px;}

#top-lower-section {
	background: white;
	padding-bottom: 170px;
	border-bottom: 1px solid #c8c8c8;}
	

#macbook {
	width: 520px;
	height: 390px;
	margin-top: -280px;
	z-index: 999;
	margin-left: 50px;
	position: relative;}
		#macbook img{
			z-index: 999;
			position: relative;}

#mac-slider {
	position: relative;
	margin-top: -296px;
	margin-left: 112px;
	height: 254px;
	width: 394px;
	background-image: url("/static/images/slider1.png");
	z-index: 9;}		


#connect-arrow-box {
		width: 560px;
		height: 200px;
		float: right;
		position: relative;
		margin-left: 570px;
		margin-top: -300px;}
		#connect-arrow{
			width: 360px;
			height: 144px;
			margin-left: 30px;}
		#name {
			width: 160px;
			height: 80px;
			position: absolute;
			margin-top: -164px;
			margin-left: 220px;
			background-image: url("/static/images/name1.png");
			border-image: none;}


#top-button {
	float: right;
	margin: 0 auto;
	background-color: #9AE598;
	width: 200px;
	border-bottom: 2px solid #5cc258;
	margin-top: -200px;
	margin-right: 210px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 62px;
	border-radius: 7px;}
		#top-button:hover {
			background-color: #84e081;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
			
#top-text-right {
		float: right;
		margin-top: -70px;
		width: 380px;
		margin-right: 60px;}		
			#top-text-right h4 {
				font-size: 18px;
				font-weight: 400;
				display: inline;}
			#top-text-right p{
				margin-left: 36px;}
			#top-text-right img{
				height: 20px;
				width: 20px;
				opacity: .9;
				display: inline-block;
				margin-right: 12px;
				padding-top: 20px;} 

#slp-join-top {
	float: left;
	margin-top: 92px;
	margin-left: 8px;
	font-weight: 500;	
	font-family: Quicksand;
	font-size:20px;
	text-align: center;
	width: 500px;}
	#slp-join-top a{
	font-weight: 800;
	color: #5d6976;
	text-decoration: underline;
	padding: 8px;}
		#slp-join-top a:hover{
			opacity: 0.7;}

/* STEPS SECTION */

#steps-section {
	width: 100%;
	height: auto;
	z-index: 999;
	color: #5d6976;
	padding-bottom: 60px;
	border-bottom: 1px solid #c8c8c8;
	margin-top: 60px;}

#steps-section h1 {
	text-align: center;
	width: 600px;
	font-size: 26px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;}		
	
#steps-container {
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;}	

.steps-box {
	padding-top: 70px;
	height: 260px;}

.steps-image {
	width: 400px;
	display: inline-block;}

		
.steps-text {
	width: 400px;
	float: right;
	margin-top: 20px;
	font-size: 16px;
	line-height: 22px;}
		.steps-text h3{
			font-size: 24px;
			color: #8EC0ED;
			line-height: 36px;
			font-family: Quicksand;}
	
.steps-text2 {
	width: 400px;
	float: left;;
	margin-left: 20px;
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 20px;}
		.steps-text2 h3{
			font-size: 24px;
			color: #8EC0ED;
			line-height: 36px;
			font-family: Quicksand;}

#steps-image2 {
	margin-left: 80px;
	padding-bottom: 30px;}
	
	
#needs-image {
	width: 230px;
	height: 230px;
	margin-left: 100px;}
	
#profiles-image {
	width: 300px;
	height: 225px;
	margin-left: 60px;
	}
	
/* JOIN SECTION */

#join_section {
	height: auto;
	margin: 0 auto;
	background: #ffffff;
	padding-bottom: 50px;}
		#join_section h3 {
			font-family: Quicksand;
			font-size: 20px;
			font-weight: 500;
			margin-left: 40px;}

#join-container {
	width: 1000px;
	position: relative;
	margin: 0 auto;
	padding-top: 50px;}
	
.join-box {
	width: 420px;
	display: inline-block;
	text-align: center;
	margin-left: 54px;}
	.join-box h2 {
		font-size: 22px;
		font-weight: 300;
		font-family: Quicksand;}
		.join-box h4 {
			margin-top: 30px;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;}

.profile-button {
	width: 200px;
	height: 60px;
	background-color: #8EC0ED;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 62px;
	border-radius: 7px;}

#parent-button {
	margin: 0 auto;
	background-color: #8EC0ED;
	width: 170px;
	border-bottom: 2px solid #6399c8;
	margin-top: 40px;}
		#parent-button:hover {
			background-color: #7ab5e8;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
					
#join-button {
	margin: 0 auto;
	background-color: #9AE598;
	width: 170px;
	border-bottom: 2px solid #5cc258;
	margin-top: 40px;}
		#join-button:hover {
			background-color: #84e081;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
			

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
		
/* FOOTER */

#global_footer {	
 	 width: 100%;
 	 height: 140px;
 	 position: relative;
 	 bottom: 0;
 	 z-index: 999;
  background-color: #e67b6d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e67b6d), color-stop(100%, #e46f60));
  background-image: -webkit-linear-gradient(#e67b6d, #e46f60);
  background-image: linear-gradient(#e67b6d, #e46f60); }
 
 	 

#global_footer_content {
	width: 980px;
	height: 90px;
	position: relative;
	margin: 0 auto;
	display: block;
	font-family: Quicksand;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 50px;
	text-align: center;}
		#global_footer_content a{
			color: white;
			list-style: none;
			display: inline-block;
			margin: 0 40px;
			text-decoration: none;
			padding: 10px;
			opacity: 1.0;}
				#global_footer_content p{
			color: white;
			list-style: none;
			display: inline-block;
			margin: 0 40px;
			text-decoration: none;
			padding: 10px;
			opacity: 1.0;}

			
	
