@font-face {
  font-family: Quicksand;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Book-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.svg#Quicksand") format("svg"); }

@font-face {
  font-family: QuicksandBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.svg#QuicksandBold") format("svg"); }

@font-face {
  font-family: Signika;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Signika/Signika-Light.eot");
  src: url("../../fonts/Signika/Signika-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Signika/Signika-Light.woff") format("woff"), url("../../fonts/Signika/Signika-Light.ttf") format("truetype"), url("../../fonts/Signika/Signika-Light.svg#Signika") format("svg"); }

/*
	BUTTON STYLES
*/
.btn {
  font-family: Signika;
  background: #8ec0ed;
  color: white;
  display: block;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: #62a7e6;
  box-shadow: none;
  padding: none; }
  .btn:focus {
    outline: none; }
  .btn.btn-small {
    width: 70px;
    height: 22px;
    line-height: 16px;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: inset 0 0 2px 1px #62a7e6; }
    .btn.btn-small:hover {
      box-shadow: inset 0 0 8px 3px #62a7e6; }
  .btn.btn-med {
    width: 120px;
    height: 30px;
    line-height: 26px;
    border-radius: 4px;
    font-size: 20px;
    box-shadow: inset 0 0 4px 2px #62a7e6; }
    .btn.btn-med:hover {
      box-shadow: inset 0 0 12px 6px #62a7e6; }
  .btn.btn-large {
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 26px;
    box-shadow: inset 0 0 6px 4px #62a7e6; }
    .btn.btn-large:hover {
      box-shadow: inset 0 0 18px 8px #62a7e6; }

a.btn {
  text-decoration: none;
  text-align: center; }

.btn.disabled {
  opacity: .4; }

@font-face {
  font-family: Quicksand;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Book-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.svg#Quicksand") format("svg"); }

@font-face {
  font-family: QuicksandBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.svg#QuicksandBold") format("svg"); }

@font-face {
  font-family: Signika;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Signika/Signika-Light.eot");
  src: url("../../fonts/Signika/Signika-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Signika/Signika-Light.woff") format("woff"), url("../../fonts/Signika/Signika-Light.ttf") format("truetype"), url("../../fonts/Signika/Signika-Light.svg#Signika") format("svg"); }

/*
	HEADER TYPES
*/
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 10px 0;
  font-family: Quicksand;
  text-transform: uppercase;
  position: relative;
  display: block;
  line-height: 1.2em; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 14px; }

@font-face {
  font-family: Quicksand;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Book-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.svg#Quicksand") format("svg"); }

@font-face {
  font-family: QuicksandBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.svg#QuicksandBold") format("svg"); }

@font-face {
  font-family: Signika;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Signika/Signika-Light.eot");
  src: url("../../fonts/Signika/Signika-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Signika/Signika-Light.woff") format("woff"), url("../../fonts/Signika/Signika-Light.ttf") format("truetype"), url("../../fonts/Signika/Signika-Light.svg#Signika") format("svg"); }

@font-face {
  font-family: Quicksand;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Book-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Book-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Book-webfont.svg#Quicksand") format("svg"); }

@font-face {
  font-family: QuicksandBold;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot");
  src: url("../../fonts/Quicksand/Quicksand_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.woff") format("woff"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.ttf") format("truetype"), url("../../fonts/Quicksand/Quicksand_Bold-webfont.svg#QuicksandBold") format("svg"); }

@font-face {
  font-family: Signika;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Signika/Signika-Light.eot");
  src: url("../../fonts/Signika/Signika-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Signika/Signika-Light.woff") format("woff"), url("../../fonts/Signika/Signika-Light.ttf") format("truetype"), url("../../fonts/Signika/Signika-Light.svg#Signika") format("svg"); }

/*
	INPUT STYLES
*/
input[type=text] {
  border: 1px solid #d2d2d2;
  box-shadow: none;
  background: white;
  font-family: Signika;
  height: 26px;
  padding: 2px 6px;
  line-height: 24px;
  font-size: 16px;
  border-radius: 6px; }
  input[type=text]:focus {
    box-shadow: inset 0 0 2px 1px #6d6d6d;
    outline: none; }
  input[type=text].span1 {
    width: 90px; }
  input[type=text].span2 {
    width: 180px; }
  input[type=text].span3 {
    width: 270px; }
  input[type=text].span4 {
    width: 360px; }
  input[type=text].span5 {
    width: 450px; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Signika;
  color: #5d6976;
  position: relative; }

#navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: #e67b6d;
  z-index: 9999;
  box-shadow: 0px 1px 7px 1px #666666;
  background-color: #e67b6d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e67b6d), color-stop(100%, #e46f60));
  background-image: -webkit-linear-gradient(#e67b6d, #e46f60);
  background-image: linear-gradient(#e67b6d, #e46f60); }
  #navbar #logo {
    float: left;
    padding: 10px;
    margin-left: 5px; }
    #navbar #logo img {
      width: 190px;
      height: 60px;
      display: block; }
