[core] repositoryformatversion = 0 filemode = true bare = false logallrefupdates = true ignorecase = true precomposeunicode = false [remote "origin"] url = https://github.com/mmoutenot/fluently-django.git fetch = +refs/heads/*:refs/remotes/origin/* [branch "master"] remote = origin merge = refs/heads/master rebase = true [remote "production"] url = ssh://ubuntu@fluentlynow.com:22/home/ubuntu/fluently-django.git
