@import 'bourbon/bourbon';

/* MAIN COLORS */
$font:    #5D6976;
$salmon:  #e67b6d;
$grey:    #D2D2D2;
$white:   #FFF;

/* SECONDARY COLORS */
$lt_blue: #8EC0ED;
$purple:  #9366BC;
$yellow:  #EDEA94;
$orange:  #EDC48E;
$green:   #9AE598;
$salmon_d:#D34336;
