@import "main";

body,html {
	background:#F2F2F2;
}

#container {
	width:800px;
	position:relative;
	margin:0 auto;
	padding:20px;
	top: 150px;
	border:1px solid $grey;
	@include box-shadow(0 0 5px 1px darken($grey,10%));
	background:$white;

	#steps {
		width:700px;
		height:90px;
		position:relative;
		top:0;		
		margin:0 auto;
		
		#line {
			width:520px;
			height:2px;
			border-bottom:2px solid $grey;
			position:absolute;
			left:50%;
			margin-left:-260px;
			top:15px;
			
		}

		ul {
			list-style: none;
			padding:0;
			margin:0;
			width:100%;
			z-index:2;
			position:relative;

			li {
				list-style: none;
				display: inline-block;
				text-align: center;
				width:25%;
				float:left;

				h2 {
					width:35px;
					height:35px;
					background: $grey;
					color:$white;
					font-size:20px;
					line-height:35px;
					border-radius:50%;
					padding:0;
					margin:0 auto;
					text-align:center;
					
					&.active {
						background:$salmon;
						@include box-shadow(0 0 3px 1px $grey);
					}

				}

				label {
					margin-top:5px;
					display: block;
					text-transform: uppercase;
					font-size:14px;
					position:relative;
					width:100%;
				}
			}
		}
	}
}


form {
	@include clearfix;
	min-height:150px;

	input {
		margin:20px auto;
		&[type='text'] {
			display: block;	
			width:300px;

			&.input_wide {
				width:500px;
			}
		}

		&[type='password'] {
			display: block;	
			width:300px;

			&.input_wide {
				width:500px;
			}
		}

		&[type='checkbox'] {
			display: inline-block;
		}
	}

	textarea {
		font-family:Signika;
		width:500px;
		height:130px;
		display: block;
		resize:none;
		margin:20px auto;
	}

	#next {
		position:relative;
		float:right;
		display: block;
		
	}

	#back {
		background:none;
		color:$font;	
	}

	#apply {
		position:relative;
		float:none;
		display: block;
		margin:0 auto;
	}

	#terms_box {
		margin:0 auto;
		display: block;
		width:250px;

		label {
			text-align:left;
			margin-right:10px;
		
			a {
				color:$lt_blue;
			}
		}
	}

	h3 {
		font-size:20px;
		text-align:center;	
		width:600px;
		display:block;
		margin:0 auto;
	}
}
		