@import "bourbon/bourbon";
@import "colors";
@import "fonts";

// VARIABLES
$transition: all .7s ease-in-out;

body, html {
  padding:0;
  margin:0;
  height:100%;
  font-family:Signika;
  color:$font;
  position:relative;
}


#navbar {
  width:100%;
  height:80px;
  position:fixed;
  top:0;
  background:$salmon;
  z-index:999999999;
  @include box-shadow(0px 1px 7px 1px #666);
  @include linear-gradient($salmon, darken($salmon, 3%));

  #logo {
    float:left;
    padding:10px;
    margin-left:5px;

    img {
      width:190px;
      height:60px;
      display: block;
    }
  }
}

#main {
  width:100%;
  height:100%;
  position:relative;
  top:80px;
  background:$white;

  #left {
    width:330px;
    height:100%;
    top:80px;
    background:#F1F1F1;
    float:left;
    position:fixed;
    border-right:1px solid $grey;
    @include box-shadow (4px 0 18px #666666);
    z-index:1;

    #video_large_container {
      width:100%;
      border-bottom:1px solid $grey;
      position:relative;
      display: block;
      height:auto;
      float:left;

      #video_large {
        position:relative;
        width:100%;
        height:100%;
        margin:0 auto;
      }
    }

    #video_small_container {
      height:130px;
      width:100%;
      position:relative;
      display: block;
      float:left;

      #video_small {
        position:relative;
        width:130px;
        height:100%;
        margin:0 auto;
      }
    }


    #chat {
      width:100%;
      float:left;
      display: block;
      height:170px;
      border-top:1px solid $grey;

    }
  }

  #right {
    width:calc(100% - 331px);
    height:calc(100% - 80px);
    top:80px;
    margin-left:331px;
    float:left;
    position:fixed;
    @include background-image(url('/static/images/background_dark.png'));

    #video_large_container {
      width:85.5%;
      height:100%;
      box-shadow: 4px 0 18px #666,  -4px 0 18px #666;
      margin:0 auto;

      #video_large {
        width:100%;
        height:100%;
        margin:0 auto;
      }
    }

    #video_small_container {
      height:200px;
      width:240px;

      position:absolute;
      bottom:20px;
      left:100px;

      #video_small {
        position:relative;
        width:240px;
        height:100%;
      }
    }

    #shared {
      width:100%;
      background:$white;
    }
  }

}

// BUTTONS
input.text_input{
  border:1px solid $grey;
  background:$white;
  padding:3px;
  width:250px;
  height:35px;
  line-height:35px;
  font-size:18px;
  font-family:Signika;
  color:$font;

  &:focus {
    outline:none;
    background:lighten($salmon, 25%);
    @include box-shadow(none);
  }
}

textarea {
  border:1px solid $grey;
  background:$white;
  padding:5px;
  line-height:22px;
  font-size:18px;

  &:focus {
    outline:none;
    background:lighten($salmon, 25%);
    @include box-shadow(none);
  }
}

.btn {
  text-decoration:none;
  width:143px;
  height:41px;
  background:$lt_blue;
  display: inline-block;
  text-align:center;
  color:$white;
  font-size:20px;
  cursor:pointer;
  line-height:41px;
  @include transition($transition);
  @include box-shadow(none);
  border:none;

  &:focus {
    outline:none;
    @include box-shadow(inset 0 0 3px 3px darken($lt_blue,10%));
  }

  &:hover {
    background:darken($lt_blue,10%);
  }
}

// FOOTER STYLE

footer {
  width:100%;
  position:absolute;
  bottom:0;
  height:200px;
  background:$font;

  &:before {
    padding-top:300px;
  }
}

// GENERAL STYLING
a {
  text-decoration:none;
}

ul {
  list-style:none;
  padding:0;
  margin:0;

  li {
    list-style: none;
    padding:0;
    margin:0;
  }
}
