<!DOCTYPE html>
<html>

  <head>
    <title>Home | Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/style/search.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
    <script src="/static/src/search.js"></script>
  </head>

  <body>

  <!-- USE NAVBAR TEMPLATE -->
    <div id='navbar'>
    	<div id='navbar_content'>
	    	<div id='logo'>
		    	<a href="#"><img src='/static/images/logos/Logo_White.png'></a>
		    </div> 
    	</div> <!-- end navbar_content -->
    </div> <!-- end navbar -->

   <!--CONTENT BODY -->
     
     <div id="top-image">
	     
	     <h1>Start your speech therapy search.</h1>
	     
     </div>
     
     <div id='content'>
     
     	
     	
     	
     	
          <form>
 
  			<input id="the_right_way" class="zipcode" type="text" placeholder="Zip code" value="" pattern="\d*">
 
  			<select>
          <option value="other">Select your need</option>
	     		<option value="fluency">Fluency disorders</option>
	     		<option value="stuttering">Stuttering</option>
	     		<option value="aphasia">Aphasia</option>
	   			<option value="articulation">Articulation</option>
	   			<option value="other">other</option>
	   		</select>
	   		
	   		<select>
          <option value="no-preference">Where?</option>
	     		<option value="office">Office/clinical setting</option>
	     		<option value="home">Travels to my home</option>
	     		<option value="online">Online videoconference</option>
          <option value="no-preference">No preference</option>
	   		</select>
	   		
	   		<input type="submit" value="Search">
     
	   	</form>
     
	   	<div id="content_container">
     
		   		Dynamically display results here.
     
       </div><!-- end content_container -->
     
     </div><!-- end content -->

  <!--FOOTER -->
  
     <div id='footer_container'>
     
   		<div id="footer_left">
   		
   			<ul>
   				<a href="#"><li>Home</li></a>
   				<a href="#"><li>About Us</li></a>	
   				<a href="#"><li>Twitter</li></a>
   				<a href="#"><li>Support</li></a>
   			</ul>
   			
   		</div>	<!-- end footer_left -->
   		
   		<div id="footer_right">
   		
   			<ul>
   				<a href="#"><li>Legal</li></a>
   				<li>&copy;&nbsp;Balbus, Inc.</li>	
   		    
   		</div><!-- end footer_right -->

     </div><!-- end footer_container -->

  </body>
</html>
