<!DOCTYPE html>
<html>

  <head>
    <title>Sign-in | Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/style/sign-in.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/style/global-style.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

   	<script>
	    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		    	ga('create', 'UA-42425586-1', 'fluentlynow.com');
		    	ga('send', 'pageview');
		    </script>
		    
		<script type="text/javascript">
			var GoSquared = {};
				GoSquared.acct = "GSN-026008-V";
				(function(w){
					function gs(){
						w._gstc_lt = +new Date;
						var d = document, g = d.createElement("script");
						g.type = "text/javascript";
						g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
						var s = d.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(g, s);
						}
						w.addEventListener ?
						w.addEventListener("load", gs, false) :
						w.attachEvent("onload", gs);
						})(window);
			</script>


  </head>

  <body>
  
  	<div id="go_back">
 	
 		<a href="/">&larr; &nbsp;Back to Homepage</a>
 	
 	</div>
  
   <!--SIGN-IN FORM -->
  
  <div id="container">
  
  	<div id="top_logo_bar">
  	
  		<img src="/static/images/logos/Logo_white.png">
  		
  	</div><!-- End top_logo_bar -->
  	
  	<div id="login_container">
  	
  		<form action="/sign-in/handler/" method="post">
  		
  			{% csrf_token %}
  			
  			<input class="text_inputs" id="signin_email" name="signin_email" type="text" placeholder="Email Address">
  			
  			<input class="text_inputs" id="signin_password" name="signin_password" type="password" placeholder="Password">

       <div id="error-msg">{{ error_msg }}</div>
  			
  			<input id="login_submit" type="submit" value="Sign-in" style="display: inline-block;">
  			
  		</form>	
  		
  		<div id="forgot"><a href="mailto:team@fluentlynow.com?subject=Forgot%20Password">Forgot password?</a></div>
  	
  	</div><!-- End login_container -->	
  
  
  </div> <!-- End container -->
  

  <!--FOOTBAR -->
  
    <div id='footbar'>
		 <div id='footbar_content'>
		 <a href="/join">Don't have an account? &nbsp;&nbsp;Sign-up</a>  
    	</div> <!-- end footbar_content -->
    </div> <!-- end footbar -->

  </body>
</html>
