<!DOCTYPE html>
<html>

  <head>
    <title>My Account | Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/style/bootstrap-modal.css">
    <link rel="stylesheet" type="text/css" href="/static/style/account.css">
    <link rel="stylesheet" type="text/css" href="/static/style/account-edit.css">
    <link rel="stylesheet" type="text/css" href="/static/style/global-style.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fonts.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
     
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
     
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="/static/src/libs/selectize.min.js"></script>
    <script type="text/javascript" src="/static/src/libs/spin.min.js"></script>
    <script type="text/javascript" src="/static/src/libs/jquery.waitforimages.min.js"></script>
    <script src="/static/src/account.js"></script>
    <script src="/static/src/account-edit.js"></script>
        <script type="text/javascript">
      var csrf_token = "{{csrf_token}}";
      var user_url = "{{userUrl}}";
    </script>
    <script type="text/javascript" src="/static/src/libs/bootstrap-modal.js"></script>

   	<script>
	    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		    	ga('create', 'UA-42425586-1', 'fluentlynow.com');
		    	ga('send', 'pageview');
		    </script>
		    
		<script type="text/javascript">
			var GoSquared = {};
				GoSquared.acct = "GSN-026008-V";
				(function(w){
					function gs(){
						w._gstc_lt = +new Date;
						var d = document, g = d.createElement("script");
						g.type = "text/javascript";
						g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
						var s = d.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(g, s);
						}
						w.addEventListener ?
						w.addEventListener("load", gs, false) :
						w.attachEvent("onload", gs);
						})(window);
			</script>
        
  </head>

  <body>

  <!-- USE NAVBAR TEMPLATE -->
    <div id='navbar'>
    	<div id='navbar_content'>
	    	<div id='logo'>
		    	<a href="/"><img src='/static/images/logos/Logo_White.png'></a>
		    </div>
		    
    	</div> <!-- end navbar_content -->
    </div> <!-- end navbar -->

  <!--CONTENT BODY -->
     <div id='content'>
     
     	<div id='sidebar'>
     	
     		<div id="profile-picture-edit">
     			
     			<div id="prof-pic">
	     			
	     			<div id="change-prof-pic">
	     			
	     				<img src="/static/images/icons/edit.png">
	     			
	     				<h5>Edit my picture</h5>
	     			
	     			</div><!-- end change-prof-pic -->
	     			
     			</div><!-- end prof-pic -->
     			
     			<h4 id="info-name">{{firstName}} {{lastName}}</h4>
     			
     			<a data-toggle="modal" href="#myModal"><p>Edit my profile specialties &rarr;</p></a>
     			
     			<a href="/profile/{{userUrl}}"><p>Preview my Fluently profile &rarr;</p></a>
     			
     		
     		</div><!-- end profile-picture-edit -->
     	
     		<ul>
     			<a href="mailto:team@fluentlynow.com?subject=Support"><li class="sidebar_item">Need help?</li></a>
     			<a href="mailto:?subject=Check%20out%FluentlyNow.com"><li class="sidebar_item">Refer a colleague</li></a>
     		</ul>
     	
     	</div><!-- end sidebar -->
     
     	<div id="content_container">
 
	     	<h3 class="account_title">Personal Information</h3>
	     	
	     		<div class="edit-container"><div class="edit-button edit-box" id="edit-btn">Edit</div></div>
	     		

          	<form id="account-info-form">
		     		<label class="field-label">First Name</label><input class="user-field" id="first-name" type="text" value="{{firstName}}">
		     		<label class="field-label">Last Name</label><input class="user-field" id="last-name" type="text" value="{{lastName}}">
		     		<label class="field-label">Zip Code</label><input class="user-field" id="zip-code" type="text" value="{{zipCode}}">
		     	</form>
		     		<div id="status"></div>
		
		     	<div class="save-buttons-box">
		     		<p class="saved-alert">&#x2713;&nbsp;Saved!</p>
		     		<div class="edit-button cancel-box" id="cancel-btn">Cancel</div>
		     		<div class="edit-button save-box" id="save-btn">Save</div>
	
		     	</div><!-- end save-buttons-box -->
		     		
		     	<div id="account-line"></div>
		     	
		     	<h3 class="account_title">Professional Information</h3>
		 
	     			<div class="edit-container"><div class="edit-button edit-box" id="edit-btn">Edit</div></div>
	<form id="account-info-form">
		     		<label class="textarea-label">About Me</label><textarea class="text-field" id="about-me" rows="4" cols="40" placeholder="Hi, I'm Susan! I'm a board-certified SLP from..." maxlength="262">{% if aboutMe %} {{ aboutMe }} {% endif %}</textarea>

		     		<label class="textarea-label">Certifications</label><textarea class="text-field" id="certifications" rows="4" cols="40" placeholder="CCC-SLP - ASHA Board-certified specialist..." maxlength="260">{% if aboutMe %} {{ certifications }} {% endif %}</textarea>

		     		<label class="textarea-label">Experience</label><textarea class="text-field" id="experience" rows="4" cols="40" placeholder="MS, Tufts University - 15+ years working with articulation & fluency disorders..." maxlength="260">{% if experience %} {{experience}} {% endif %}</textarea>

		     		<label class="textarea-label">Therapy Approach</label><textarea class="text-field" id="therapy-approach" rows="4" cols="40" placeholder="I believe therapy should be..." maxlength="260">{% if therapyApproach %} {{therapyApproach}} {% endif %}</textarea>

		     	</form>
		     	
		     	<div id="status"></div>
		     	
		     	<div class="save-buttons-box">
		     		<p class="saved-alert">&#x2713;&nbsp;Saved!</p>
		     		<div class="edit-button cancel-box" id="cancel-btn">Cancel</div>
		     		<div class="edit-button save-box" id="save-btn">Save</div>
		     		
		     	</div><!-- end save-buttons-box -->
	     	 
	    </div><!-- end content_container -->
     
     </div><!-- end content -->
     
          
  <!--FOOTER -->
  
     <div id='footer_container'>
     
   		<div id="footer_left">
   		
   			<ul>
   				<a href="/"><li>Home</li></a>
   				<a href="/about"><li>About Us</li></a>	
   		   		<a href="mailto:team@fluentlynow.com"><li>Support</li></a>
   			</ul>
   			
   		</div>	<!-- end footer_left -->
   		
   		<div id="footer_right">
   		
   			<ul>
   				<a href="/privacy"><li>Legal</li></a>
   				<li>&copy;&nbsp;Balbus, Inc.</li>	
   		    
   		</div><!-- end footer_right -->

     </div><!-- end footer_container -->

      <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

        	<div id="welcome-blocks-wrapper">




          </div>


        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




  </body>
</html>
