{% extends 'space/base.html' %}

{% block shared-space %}
  {# {% if croco_session %} #}
  {#   <iframe id="documentViewer" src="http://crocodoc.com/view/{{ croco_session }}"></iframe> #}
  {# {% else %} #}
  {#   <iframe id="documentViewer" src=""></iframe> #}
  {# {% endif %} #}
{% endblock %}

{% block chat %}

  <ul id="messages">
    <script type="text/x-jquery-tmpl"><li class="${action}">(${time}) ${name}: ${message}</li></script>
  </ul>

  <form id="chat_form">
    <input type="text" id="message" name="message">
    <input type="submit" id="submit" value="Send">
  </form>

{% endblock %}
