{% extends 'space/base.html' %}

{% block shared-space %}
  {# {% if croco_session %} #}
  {#   <iframe id="documentViewer" src="http://crocodoc.com/view/{{ croco_session }}"></iframe> #}
  {# {% else %} #}
  {#   <iframe id="documentViewer" src=""></iframe> #}
  {# {% endif %} #}
{% endblock %}

{% block chat %}

  <link rel="stylesheet" type="text/css" href="/static/stylesheets/chat.css">

  <ul id="messages">
    <script type="text/x-jquery-tmpl">
      <li class="${action}">
        (${time}) ${name}: ${message}
      </li>
    </script>
  </ul>

  <form id="chat_form">
   <textarea id="message" name="message" placeholder='Send a message...'></textarea>
    <input type="submit" id="submit" value="Send"> 
  </form>

{% endblock %}
