<!DOCTYPE html>
<html>

  <head>
    <title>My Profile | Fluently</title>
    <link rel="stylesheet" type="text/css" href="account.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
      
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script src="/static/javascripts/account.js"></script>
        <script type="text/javascript">
      var csrf_token = "{{csrf_token}}";
    </script>

        
  </head>

  <body>

  <!-- USE NAVBAR TEMPLATE -->
    <div id='navbar'>
    	<div id='navbar_content'>
	    	<div id='logo'>
		    	<a href="#"><img src='Logo_White.png'></a>
		    </div>
		    
		    <div id="navbar_list">
		    
		    <ul>		    		    	
		    	<a href="#"><li class="navbar_button">
		    	Account
		    	</li></a>
		  
		    	<a href="#"><li class="navbar_button">
		    	Dashboard
		    	</li></a>
		    	
		    </ul>
		  
		    </div>
		    
    	</div> <!-- end navbar_content -->
    </div> <!-- end navbar -->

  <!--CONTENT BODY -->
     <div id='content'>
     
     	<div id='sidebar'>
     	
     		<ul>
     			<a href="#"><li id="sidebar_active" class="sidebar_item">My Profile</li></a>
     			<a href="#"><li class="sidebar_item">Settings</li></a>
     			<a href="#"><li class="sidebar_item">Manage Users</li></a>
     			<a href="#"><li class="sidebar_item">Plans & Billing</li></a>
     			<a href="#"><li class="sidebar_item">Logout</li></a>
     		</ul>
     	
     	</div><!-- end sidebar -->
     
     	<div id="content_container">
 
	     	<h3 class="account_title">My Profile</h3>
	     		
	     		<form id="account-info-form">
		     		<label class="field-label">First Name</label><input class="user-field" id="first-name" type="text"/>
		     		<label class="field-label">Last Name</label><input class="user-field" id="last-name" type="text"/>
		     		<label class="field-label">Email Address</label><input class="user-field" id="email" type="text"/>
		     		<label class="field-label">New Password</label><input class="user-field" id="password-a" type="password"/>
		     		<label class="field-label">Confirm Password</label><input class="user-field" id="password-b" type="password"/>
		     	</form>
		     		<div id="status"></div>
	     	 
	    </div><!-- end content_container -->
     
     </div><!-- end content -->
          
  <!--FOOTER -->
  
     <div id='footer_container'>
     
   		<div id="footer_left">
   		
   			<ul>
   				<a href="#"><li>Home</li></a>
   				<a href="#"><li>Blog</li></a>	
   				<a href="#"><li>Twitter</li></a>
   				<a href="#"><li>Support</li></a>
   			</ul>
   			
   		</div>	<!-- end footer_left -->
   		
   		<div id="footer_right">
   		
   			<ul>
   				<a href="#"><li>Terms</li></a>
   				<li>&copy;&nbsp;Balbus, Inc.</li>	
   		    
   		</div><!-- end footer_right -->

     </div><!-- end footer_container -->

  </body>
</html>


