{# Account #}

<form id="register-account-form">
  <input id="account-first-name" type='text' class = 'text_input form_input' placeholder= 'First Name'/>
  <input id="account-last-name" type='text' class = 'text_input form_input' placeholder= 'Last Name' />
  <input id="account-email" type='text' class = 'text_input form_input' placeholder= 'Email' />
  <input id="account-password-a" type='password' class = 'text_input form_input' placeholder= 'Password' />
  <input id="account-password-b" type='password' class = 'text_input form_input' placeholder= 'Confirm Password' />
  <div id='terms_box'>
    <label for='termsCheck'>
      Agree to our <a href="#">Terms of Service</a>
    </label>
    <input type='checkbox' id='termsCheck'>
  </div>
  <input type='submit' class='btn submit' value="Next"/>
</form>
