{% extends 'face/base_face.html' %}

	<input type='text' class = 'text_input form_input input_wide' placeholder= 'Certifications (ex. CCC-SLP)'/>
	<input type='text' class = 'text_input form_input input_wide' placeholder= 'Education'/>
	<input type='text' class = 'text_input form_input input_wide' placeholder= 'Licensed State(s)'/>
	<input type='text' class = 'text_input form_input input_wide' placeholder= 'Membership (ex. American Speech & Hearing Assoc.)'/>
	<textarea placeholder='Experience & Specialities (ex. 12 years in stuttering therapies)'></textarea>
	<a href='#' id='apply' class='btn submit'>
	  Apply
	</a>

{% endblock %}