{# Certification #}

<form id="certify-account-form">
  <input id="account-certification" type='text' class = 'text_input form_input input_wide' placeholder= 'Certifications (ex. CCC-SLP)'/>
  <input id="account-education" type='text' class = 'text_input form_input input_wide' placeholder= 'Education'/>
  <input id="account-licensed-states" type='text' class = 'text_input form_input input_wide' placeholder= 'Licensed State(s)'/>
  <input type='text' class = 'text_input form_input input_wide' placeholder= 'Membership (ex. American Speech & Hearing Assoc.)'/>
  <textarea placeholder='Experience & Specialities (ex. 12 years in stuttering therapies)'></textarea>
  <input type='submit' class='btn submit' value="Apply">
</form>
