<!DOCTYPE html>

<html>
  <head>
    <title>Fluently</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/login.css" />
    <link rel="stylesheet" type="text/css" href="/static/javascripts/shadowbox-3.0.3/shadowbox.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />

    <!-- JS -->
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/shadowbox-3.0.3/shadowbox.js"></script>
    <script type="text/javascript" src="/static/javascripts/landing.js"></script>
    <!--<script src="/static/javascripts/login.js"></script>-->
    
    <!-- GOSQUARED TRACKING -->
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-073741-K";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
  </script>
  <script type="text/javascript">
    var csrf_token = "{{csrf_token}}";
  </script>
  
  </head>

  <body>
    <div id="signin">
      <a href="/face/signin/">
        Sign In
      </a>
    </div>

    <div id="main">
      <img src="/static/images/logos/Logo_White.png" />
      <form action="http://balbusspeech.us2.list-manage1.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="b80caa50775da89c3d2a3b997">
        <input type="hidden" name="id" value="ed30239357">

        <div id="shadowbox-test"><a href="/face/register/student" rel="shadowbox;width=500;height=600">Shadowbox</a></div>


        <div id="mergeTable" class="mergeTable">
          <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
            <div class="field-group">
              <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
            </div>
          </div>
        </div>


        <input type="submit" id="button" name="submit" value="Subscribe">

      </form>


    </div>
    <footer>
    <h4>
      Copyright - Balbus Inc.
    </h4>
    </footer>

  </body>

</html>



<form action="http://balbusspeech.us2.list-manage1.com/subscribe/post" method="POST">



