<!DOCTYPE html>

<html>
  <head>
    <title>Fluently</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/login.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    
    <!-- GOSQUARED TRACKING -->
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-073741-K";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
  </script>
  
  </head>

  <body>
    <div id="login">
      <div id="login_fields">
        <form action="/face/login/" method="post">
          {% csrf_token %}
          <input class="text_inputs" id="login_email" name="login_email" type="text" placeholder="Email"/>
          <input class="text_inputs" id="login_password" name="login_password" type="password" placeholder="Password"/>
          <input id="login_submit" type="submit" value="Log In" />
        </form>
      </div>
      <a href="#">
        Log In
      </a>
      <div id="login_messages"></div>

    </div>

    <div id="main">
      <img src="/static/images/logos/Logo_White.png" />
      <h2>
        We are building the next generation of specialized learning online. We'll let you know when it's ready.
      </h2>

      <form action="http://balbusspeech.us2.list-manage1.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="b80caa50775da89c3d2a3b997">
        <input type="hidden" name="id" value="ed30239357">


        <div id="mergeTable" class="mergeTable">
          <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
            <div class="field-group">
              <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
            </div>
          </div>
        </div>


        <input type="submit" id="button" name="submit" value="Subscribe">

      </form>


    </div>
    <footer>
    <h4>
      Copyright - Balbus Inc.
    </h4>
    </footer>

    <script>
      $(document).ready(function() {

        var inp = $('#login input');
        $('#login a').click(function() {
          $('#login').addClass('active');
          $('#login_fields').delay(1000).slideDown(400);

          $(this).animate({
            width:298,
            marginRight:0,
            easing:'easeInOutQuart'
          }, 300);

          $('#login_submit').delay(1180).fadeIn('slow');
          $(this).delay(2000).fadeOut();

        });

        $('#submit').click(function() {
          $('#submit').delay(200).animate({
            width:500
          },10);
          $('#MERGE0').delay(100).css(
          'width',0
          );
          $('#MERGE0').fadeOut('slow');
          $('#submit').animate({
            backgroundColor:'#9AE598'
          }, 'fast');

        });

      });


    </script>


  </body>

</html>



<form action="http://balbusspeech.us2.list-manage1.com/subscribe/post" method="POST">



