{# Account #}

<div class="signup-block" id="account-block">
  <form id="register-account-form" class="account-form">
    <input id="account-name" maxlength="64" type='text' class = 'text_input form_input' placeholder= 'Name'/>
    <input id="account-email" maxlength="75" type='text' class = 'text_input form_input' placeholder= 'Email' />
    <input id="account-phone" maxlength="36" type='text' class = 'text_input form_input' placeholder= 'Phone #' />
    <div id="invalid-wrap"></div>
    <div id="signup-button"><input type='submit' class='btn submit' value="Continue"/></div>
  </form>
</div>

{# Certification #}

<div class="signup-block" id="certification-block">
  <form id="certify-account-form" class="account-form">
    <input id="account-location" maxlength="32" type="text" class = 'text_input form_input' placeholder = 'State or Country' />
    <textarea resize="none" id="account-specialties" maxlength="512" type="text" class = 'text_input form_input' placeholder = 'Therapy Specialties' />
    <div id='terms_box'>By clicking "Sign-up" you agree to our <a href="#">Terms of Service</a></div>
    <div id="invalid-wrap"></div>
    <div id="signup-button"> <input type='submit' class='btn submit' value="Sign up"></div>
  </form>
</div>

{# Submit #}

<div class="signup-block" id="submit-block">
  <div id="confirm_container">
    <h3>You're all set! </h3>
    <p>Thank you for your application!<p>
  </div>
</div>

