<!--
First draft of create account page.
Need to include existing templates (nav) and create templates for each step of account process
-->

<!DOCTYPE html>
<html>

  <head>
    <title>Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/create_account.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

    <script type="text/javascript" src="/static/javascripts/register.js"></script>
    <script type="text/javascript">
      var csrf_token = "{{csrf_token}}";
    </script>
  </head>

  <body>

    <!-- USE NAVBAR TEMPLATE -->
    <div id='navbar'>
      <div id='logo'>
        <img src='/static/images/logos/Logo_White.png'>
      </div>
    </div>

    <div id='container'>
      <div id='steps'>
        <div id='line'></div>
        <ul>
          <li>
          <h2 class='active'>1</h2>
          <label>Account</label>
          </li>
          <li>
          <h2 >2</h2>
          <label>Confirmation</label>
          </li>
          <li>
          <h2 >3</h2>
          <label>Certification</label>
          </li>
          <li>
          <h2 class=''>4</h2>
          <label>Submit</label>
          </li>
        </ul>
      </div>

      {# use templating for form #}
      <form id="register-account-form">

        {# ACCOUNT INFO #}
        <input id="account-first-name" type='text' class = 'text_input form_input' placeholder= 'First Name'/>
        <input id="account-last-name" type='text' class = 'text_input form_input' placeholder= 'Last Name' />
        <input id="account-email" type='text' class = 'text_input form_input' placeholder= 'Email' />
        <input id="account-password-a" type='password' class = 'text_input form_input' placeholder= 'Password' />
        <input id="account-password-b" type='password' class = 'text_input form_input' placeholder= 'Confirm Password' />

        <div id='terms_box'>
          <label for='termsCheck'>
            Agree to our <a href="#">Terms of Service</a>
          </label>
          <input type='checkbox' id='termsCheck'>
        </div>

        <input type='submit' class='btn submit' value="Next"/>
      </form>
        <!--
        {# EMAIL CONFIRMATION #}
        <h3>
          Thank you for creating an account. Check your inbox for a link to complete the signup process.
        </h3>

        {# CERTIFICATION #}
        <input type='text' class = 'text_input form_input input_wide' placeholder= 'Certifications (ex. CCC-SLP)'/>
        <input type='text' class = 'text_input form_input input_wide' placeholder= 'Education'/>
        <input type='text' class = 'text_input form_input input_wide' placeholder= 'Licensed State(s)'/>
        <input type='text' class = 'text_input form_input input_wide' placeholder= 'Membership (ex. American Speech & Hearing Assoc.)'/>
        <textarea placeholder='Experience & Specialities (ex. 12 years in stuttering therapies)'></textarea>
        <a href='#' id='apply' class='btn submit'>
          Apply
        </a>


        {# SUBMISSION CONFIRMATION #}
        <h3>
          Thank you for your submission. We will review your application and get back to you soon.
        </h3>
        -->

    </div>

  </body>
</html>
