{# Account #}

<div id="account-block">
  <form id="register-account-form" class="account-form">
    <input id="account-first-name" type='text' class = 'text_input form_input' placeholder= 'First Name'/>
    <input id="account-last-name" type='text' class = 'text_input form_input' placeholder= 'Last Name' />
    <input id="account-email" type='text' class = 'text_input form_input' placeholder= 'Email' />
    <input id="account-password-a" type='password' class = 'text_input form_input' placeholder= 'Password' />
    <input id="account-password-b" type='password' class = 'text_input form_input' placeholder= 'Confirm Password' />
    <div id='terms_box'>
      <label for='termsCheck'>
        Agree to our <a href="#">Terms of Service</a>
      </label>
      <input type='checkbox' id='account-terms'>
    </div>
    <div id="invalid-wrap"></div>
    <input type='submit' class='btn submit' value="Next"/>
  </form>
</div>

{# Confirmation #}

<div id="confirmation-block">
  <h3>
    Thank you for creating an account. Check your inbox for a link to complete the signup process.
  </h3>
</div>

{# Certification #}

<div id="certification-block">
  <form id="certify-account-form" class="account-form">
    Last step
    <div id="invalid-wrap"></div>
    <input type='submit' class='btn submit' value="Apply">
  </form>
</div>

{# Submit #}

<div id="submit-block">
  <h3>
    Thank you for your submission. We will review your application and get back to you soon.
  </h3>
</div>


