{# Account #}

    <div class="signup-block" id="account-block">
  <form id="register-account-form" class="account-form">
    <input id="account-firstName" type='text' class = 'text_input form_input' placeholder= 'Name'/>
    <input id="account-email" type='text' class = 'text_input form_input' placeholder= 'Email' />
    <input id="account-password" type='password' class = 'text_input form_input' placeholder= 'Password' />
        <div id="invalid-wrap"></div>
    <div id="sign-up-button"><input type='submit' class='btn submit' value="Continue"/></div>
  </form>
</div>

{# Certification #}

      <div class="signup-block" id="certification-block">
  <form id="certify-account-form" class="account-form">
    <input id="account-company" type="text" class = 'text_input form_input' placeholder = 'Company Name' />
    <input id="account-phone" type="text" class = 'text_input form_input' placeholder = 'Phone Number' />
    <div id='terms_box'>
        By clicking "Sign-up" you agree to our <a href="#">Terms of Service</a>
    </div>
    <div id="invalid-wrap"></div>
   <div id="sign-up-button"> <input type='submit' class='btn submit' value="Sign up"></div>
  </form>
</div>

{# Submit #}

<div class="signup-block" id="submit-block">
  
  <div id="confirm_container">
  <h3>You're all set! </h3>
  <a href="/space/"><h2>Continue to your Dashboard &rarr;</h2></a> 
  <p>Check your inbox for an email to confirm your account.<p>
  </div>
 </div>

