<html>

  <head>
    <title>Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/register_student.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/student_modal.js"></script>
    <script type="text/javascript">
      var csrf_token = "{{csrf_token}}";
    </script>
  </head>

  <body>

  	

  						
  							<div id="student-modal-title">easy, secure, professional.</div>
  							
  							<div id="student-modal-explain">Fluently matches parents & clients with board-certified speech professionals for free. Tell us about yourself:</div>
  					
  								   <div class="signup-block">
  								   
  								   	<form id="student-signup-form" class="account-form">
    
	  								   	<input id="student-name" maxlength="64" type="text" class ='text_input form_input' placeholder = 'My Name' />
   
	  								   	<input id="student-email" maxlength="75" type="text" class ='text_input form_input' placeholder = 'Email Address' />
	  								   	
	  								   	<input id="student-location" maxlength="32" type="text" class ='text_input form_input' placeholder = 'State or Country' />
	  								   	
	  								   	<textarea rows="3" cols="20" maxlength="512" placeholder="I'm looking for an SLP that..." id="student-needs"></textarea>
	  						  								 
	  								   	<div id="invalid-wrap"></div>
	  								   	
	  								   	<div id="sign-up-button"> <input type='submit' class='btn submit' value="submit"></div>
  
	  								   	<div id='terms_box'>By clicking "Submit" you agree to our <a href="#">Terms of Service</a>, which allow us to match you with a qualified therapy professional.</div>

	  								</form>

	  								</div><!-- end signup-block -->
  					

  	
  	
  	
  	
  	
  	
  		
  		
  		
  	
  	
  

    </body>
</html>
