<!--
First draft of create account page.
Need to include existing templates (nav) and create templates for each step of account process
-->

<!DOCTYPE html>
<html>

  <head>
    <title>Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/create_account.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/register.js"></script>
    <script type="text/javascript">
      var csrf_token = "{{csrf_token}}";
    </script>
  </head>

  <body>

    <!-- USE NAVBAR TEMPLATE -->
    <div id='navbar'>
      <div id='logo'>
        <img src='/static/images/logos/Logo_White.png'>
      </div>
    </div>

    <div id='container'>
      <div id='steps'>
        <div id='line'></div>
        <ul>
          <li id="account-step">
          <h2>1</h2>
          <label>Account</label>
          </li>
          <li id="confirmation-step">
          <h2>2</h2>
          <label>Confirmation</label>
          </li>
          <li id="certification-step">
          <h2>3</h2>
          <label>Certification</label>
          </li>
          <li id="submit-step">
          <h2>4</h2>
          <label>Submit</label>
          </li>
        </ul>
      </div>

      <div id="account-wrap">
      </div>
      
 
    </div>

  </body>
</html>
