<!DOCTYPE html>
<html>

  <head>
    <title>Fluently - Example Profile </title>
    <link rel="stylesheet" type="text/css" href="/static/style/bootstrap-modal.css" >
    <link rel="stylesheet" type="text/css" href="/static/style/consumer-contact.css">
    <link rel="stylesheet" type="text/css" href="/static/style/example-profile.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/style/global-style.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
    
       <script src="http://code.jquery.com/jquery-latest.js"></script>
       <script src="http:////ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
           <script type="text/javascript">
        var csrf_token = "{{csrf_token}}";
        var firstName = "{{firstName}}";
        var lastName = "{{lastName}}";
        var slp = "{{slp}}";
      </script>
       <script src="/static/src/libs/spin.min.js"></script>
       <script type="text/javascript" src="/static/src/libs/bootstrap-modal.js"></script>
       <script src="/static/src/modalClose.js"></script>
       <script src="/static/src/example-consumer-contact.js"></script>
    
    	<script>
	    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		    	ga('create', 'UA-42425586-1', 'fluentlynow.com');
		    	ga('send', 'pageview');
		    </script>
		    
		<script type="text/javascript">
			var GoSquared = {};
				GoSquared.acct = "GSN-026008-V";
				(function(w){
					function gs(){
						w._gstc_lt = +new Date;
						var d = document, g = d.createElement("script");
						g.type = "text/javascript";
						g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
						var s = d.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(g, s);
						}
						w.addEventListener ?
						w.addEventListener("load", gs, false) :
						w.attachEvent("onload", gs);
						})(window);
			</script>
 
  </head>

  <body>

  <!-- USE NAVBAR TEMPLATE -->
    <div id='navbar'>
      <div id='navbar_content'> 
	    	<div id='logo'>
		    	<a href="/"><img src='/static/images/logos/Logo_White.png'></a></div>
		    
		    <div id="nav_tagline">Finding the right SLP for your family. <a href="/for-parents">Learn more</a></div>
		  </div>
    </div> <!-- end navbar -->

   <!--CONTENT BODY -->
     <div id='content'>
     
     <div id="upper-profile-container">
          
     	<div class="all-profile" id="left-profile">
     	
     		<div id="profpic-box">
     		
     			<div id="profpic">
     			
     				<img src="/static/images/elements/susan.jpg">
     			
     			</div><!-- end profpic -->
     		
     			<div id="left-info-box">
     			
     				<h4 id="info-name">Susan J.</h4>
     				
     				<div class="info-line-contain"><img src="/static/images/icons/pin.png"><h5 id="info-role">Speech-Language Pathologist</h4></div>
     				
     				<div class="info-line-contain"><img src="/static/images/icons/globe.png"><h5 id="info-location">Boston, MA</h4></div>
     				
     				<div class="info-line-contain"><img src="/static/images/icons/star.png"><h5 id="info-location">Stuttering, fluency disorders</h4></div>
     			
     			</div><!-- end left-info-box -->
     		
     		</div><!-- end profpic-box -->
     		
     		        <a data-toggle="modal" href="#myModal"><div class="profile-button" id="contact-button"><img src="/static/images/icons/mail-white.png">&nbsp;&nbsp;Contact Susan</div></a>
 
     	</div><!-- end left-profile -->
     	
     	<div class="all-profile" id="right-profile">
     	
     		<div class="profile-section">
     		
     			<h3>About Me</h3>
     		
     			<p>Hi there, I'm Susan! I'm an SLP from Boston that loves helping children overcome their speech disorders and become confident speakers. I've been working in stuttering therapy for the past 22 years.</p>
     		
     		</div><!-- end profile-section 1 -->
     		
     			<div id="profile-line"></div>
     		
     		<div class="profile-section">
     		
     			<h3>Certifications</h3>
     		
     			<p>-Board-certified specialist, American Speech & Hearing Association</br>-Member, Telepractice Special Interest Group (ASHA)</br>-Member, National Stuttering Association</p>
     			
     		</div><!-- end profile-section 2 -->
     		
     		<div id="profile-line"></div>
     		
     		<div class="profile-section">
     		
     			<h3>Experience</h3>
   
     			<p>-20+ years specializing in fluency disorders</br>-MS Emerson College </br>-Ph.D Boston University</p>
        		
        		</div><!-- end profile-section 3 -->

     		<div id="profile-line"></div>
     		
     		<div class="profile-section">
     		
     			<h3>Therapy Approach</h3>
     		
     			<p>I love to understand a client's goals before beginning therapy--it's important to develop a process so we can achieve the best results together. I base my therapies on existing research, like van Riper, as well as the Lidcombe approach to treating stuttering.</p>
     			
     		</div><!-- end profile-section 4 -->

     	</div><!-- end right-profile -->

    </div><!-- upper-profile-container -->
    
    
    <div id="profile-line-full"></div>
    
    <div id="bottom-full-width-container">
    
    	<h3>Are you a board-certified speech & language professional?</h3>
    	
        <a href="/for-therapists"><div class="profile-button" id="join-button">Join today</div></a>
        		  
        		  
    </div><!-- end bottom-full-width-container -->    
        
     </div><!-- end content -->

  <!--FOOTER -->
  
     <div id='footer_container'>
     
   		<div id="footer_left">
   		
   			<ul>
   				<a href="/"><li>Home</li></a>
   				<a href="/about"><li>About Us</li></a>	
   		   		<a href="mailto:team@fluentlynow.com"><li>Support</li></a>
   			</ul>
   			
   		</div>	<!-- end footer_left -->
   		
   		<div id="footer_right">
   		
   			<ul>
   				<a href="/privacy"><li>Privacy</li></a>
   				<li>&copy;&nbsp;Balbus, Inc.</li>	
   		    
   		</div><!-- end footer_right -->

     </div><!-- end footer_container -->

      <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="close"></div>
        	<div id="example-contact-blocks-wrapper">




          </div>


        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  </body>
</html>
