<html>

  <head>
    <title>Fluently - Contact Example Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/style/consumer-contact.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/style/global-style.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script type="text/javascript" src="/static/src/libs/spin.min.js"></script>
    <script type="text/javascript" src="/static/src/example-consumer-contact.js"></script>
    <script type="text/javascript">
      var csrf_token = "{{csrf_token}}";
      var firstName = "{{firstName}}";
      var lastName = "{{lastName}}";
      var slp = "{{slp}}";
    </script>
  </head>

  <body>

  	<div id="contact-student-blocks-wrapper">

  	</div> <!-- end wrapper -->
  	
    </body>
</html>
