<!DOCTYPE html>
<html>

  <head>
    <title>Fluently</title>
    <link rel="stylesheet" type="text/css" href="/static/style/privacy.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fonts.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
   
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http:////ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/src/libs/jquery.backstretch.min.js"></script>
    <script src="/static/src/libs/smoothscroll.js"></script>
  </head>

  <body>

	  <div id="content">
	  
	  	<img src="/static/images/logo/logo_White.png">
	  
	  	<p>
This privacy policy (“Policy”) describes how Balbus, Inc. and its related companies (“Company”) collect, use and share personal information of consumer users of this website, FluentlyNow.com (the “Site”). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements.
</br></br>
<strong>WHAT WE COLLECT</strong> 
</br></br>
 We get information about you in a range of ways.  
Information You Give Us.  We collect your_ name,_ postal address,_ email address,_ phone number,_ username,_ password,_ demographic information (such as your gender and occupation), Payments and other information you directly give us on our Site.
Information We Get from Others.  We may get information about you from other sources. We may add this to information we get from this Site.
Information Automatically Collected.  We automatically log information about you and your computer. For example, when visiting our Site, we log_ your computer operating system type,_ browser type,_ browser language,_ pages you viewed,_ how long you spent on a page,_ access times,_ Internet protocol (IP) address, and information about your use of and actions on our Site.  
Cookies.  We may log information using "cookies." Cookies are small data files stored on your hard drive by a website. Cookies help us make our Site and your visit better. We use cookies to see which parts of our Site people use and like and to count visits to our Site. 

Web Beacons.  We may log information using digital images called Web beacons on our Site or in our emails. We use Web beacons to manage cookies, count visits, and to learn what marketing works and what does not.  We also use Web Beacons to tell if you open or act on our emails.
</br></br>
<strong>USE OF PERSONAL INFORMATION</strong>
</br></br>
We use your personal information as follows:
	_	We use your personal information to operate, maintain, and improve our sites, products, and services.

	_	We use your personal information to process and deliver contest entries and rewards.

	_	We use your personal information to respond to comments and questions and provide customer service.

	_	We use your personal information to send information including confirmations, invoices, technical notices,  			updates, security alerts, and support and administrative messages.     

	_	We use your personal information to communicate about promotions, upcoming events, and other news 			about products and services offered by us and our selected partners.

	_	We use your personal information to link or combine user information with other personal information.

	_	We use your personal information to protect, investigate, and deter against fraudulent, unauthorized, or			 illegal activity.

	_	We use your personal information to provide and deliver products and services customers request.  
</br></br>
<strong>SHARING OF PERSONAL INFORMATION</strong>
</br></br>
We may share personal information as follows:
ο	We may share personal information with your consent. For example, you may let us share personal information with others for their own marketing uses. Those uses will be subject to their privacy policies.
ο	We may share personal information when we do a business deal, or negotiate a business deal, involving the sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding. 
ο	We may share personal information for legal, protection, and safety purposes.
o	We may share information to comply with laws.
o	We may share information to respond to lawful requests and legal processes.
o	We may share information to protect the rights and property of Balbus, Inc., our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use.
o	We may share information in an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.
ο	We may share information with those who need it to do work for us.
We may also share aggregated and/or anonymized data with others for their own uses.
	</br></br>
<strong>INFORMATION CHOICES AND CHANGES</strong>
</br></br>
Our marketing emails tell you how to “opt-out.” If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you.
You may send requests about personal information to our Contact Information below.  You can request to change contact choices, opt-out of our sharing with others, and update your personal information.
You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you.    
	  	</br></br>
<strong>SECURITY OF YOUR PERSONAL INFORMATION</strong> 
</br></br>
We take steps to help protect personal information. No company can fully prevent security risks, however.  Mistakes may happen. Bad actors may defeat even the best safeguards.
CONTACT INFORMATION.  We welcome your comments or questions about this privacy policy.  You may also contact us at our address:
17 Knollwood Road,
Medfield MA 02052
CHANGES TO THIS PRIVACY POLICY.  We may change this privacy policy. If we make any changes, we will change the Last Updated date below.  
This privacy policy was last Updated on July 1, 2013.</p>
	  
	  
	  
	  
	  </div><!-- end content -->


  </body>
</html>
