
/* CONTENT */

.text_container {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;}

.section-title {
	text-align: center;
	width: 190px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	border-bottom: 1px solid rgba(93,105,117,0.26);}


/* MAIN SECTION */

#main-section {
	position: relative;
	background: url('/static/images/backgrounds/about1.jpg');
	height: 400px;
	background-repeat: repeat;
	background-size: cover;}


/* MISSION SECTION */

#our-mission {
	background-color: #8EC0ED;
	width: 100%;
	height: auto;
	padding-bottom: 40px;}
	#our-mission h2 {
		color: white;
		width: 160px;
		border-bottom: 1px solid rgba(255,255,255,0.3);}
	#our-mission img{
		height: 80px;
		width: 80px;
		margin-top: 50px;
		margin-left: 440px;}
	#our-mission h4 {
		text-align: center;
		color: white;
		font-family: Quicksand;
		text-transform: uppercase;
		margin-top: 50px;
		font-size: 22px;}
.mission-text {
		color: white;
		width: 360px;
		font-size: 16px;
		line-height: 30px;
		display: inline-block;
		margin-left: 80px;
		margin-top:20px;
		text-indent: 20px;}


/* TEAM SECTION */


#team-section {
	background-color: white;
		height: auto;
		padding-bottom: 30px;}

#team-container {
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;}

.member-box {
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	margin-left: 0px;
	width: 260px;}
	.member-box h6 {
		font-size: 14px;
		font-weight: 300;
		font-family: Quicksand;
		margin-top: -10px;}	
	.member-box p{
		font-size: 14px;
		line-height: 22px;}
		
.member-pic {		
		height: 140px;
		width: 140px;
		border-radius: 120px;
		background-size: cover;
		margin-left: 58px;}

.member-pic-hover {
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: #8EC0ED;
		border-radius: 120px;
		border: 2px solid rgba(196,196,196,0.67);
		opacity: 0.0;
		margin-left: -2px;
		margin-top: -2px;}
			.member-pic-hover:hover {
				opacity: 0.9;
				-webkit-transition: all .4s ease-in-out;
				-moz-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;}
			
			.member-pic-hover a{
				text-decoration: none;
				font-family: Quicksand;
				font-weight: 500;
				color: white;
				padding: 7px;}
					.member-pic-hover a:hover{
						font-weight: 900;}	
			.hover-link { 
				margin-top: 60px;}

				#member-pic1 {
					background-image: url("/static/images/elements/jm.jpg");}

				#member-pic2 {
					background-image: url("/static/images/elements/dp.jpg");}
		
				#member-pic3 {
					background-image: url("/static/images/elements/mm.jpg");}	
	
	
/* MORE INFO SECTION */

#more-info {
	background: white;
	margin: 0 auto;
	text-decoration: none;
	margin-top: -100px;}
	#more-info h6 {
		font-size: 15px;
		font-weight: 100;
		font-family: Quicksand;
		text-align: center;
		line-height: 40px;}	
	#more-info a {
		  color: #5d6976;}
	#more-info img { 
		height: 90px;
		margin-left: 444px;}
	#more-info a:hover {
		font-weight: 400;}
		
		
