/* MAIN COLORS */
/* SECONDARY COLORS */
@font-face {
  font-family: Quicksand;
  src: url("/static/fonts/Quicksand/Quicksand_Book-webfont.ttf");
  /* url('Quicksand_Book-webfont.ttf');  IE9 */ }

@font-face {
  font-family: QuicksandBold;
  src: url("static/fonts/Quicksand/Quicksand_Bold-webfont.ttf");
  /* url('Quicksand_Bold-webfont.ttf');  IE9 */ }

@font-face {
  font-family: Signika;
  src: url("/static/fonts/Signika/Signika-Regular.ttf");
  /* url('Signika-Regular.ttf');  IE9 */ }

@font-face {
  font-family: SignikaBold;
  src: url("/static/fonts/Signika/Signika-Bold.ttf");
  /* url('Signika-Bold.ttf');  IE9 */ }

body, html {
  padding: 0;
  margin: 0;
  font-family: Signika;
  color: #5d6976;
  background: #f1f3f5;
  position: relative; }

body a{
	text-decoration: none;}

/* NAVBAR AREA */

#navbar {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  background: #e67b6d;
  z-index: 9999;
 
  background-color: #e67b6d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e67b6d), color-stop(100%, #e46f60));
  background-image: -webkit-linear-gradient(#e67b6d, #e46f60);
  background-image: linear-gradient(#e67b6d, #e46f60); }
  #navbar_content {
	  width: 960px;
	  margin: 0 auto;
	  position: relative;}
  	#navbar #logo {
    float: left;
    padding: 10px;
    padding-left: 0px;
    margin-left: 5px; }
  	  #navbar #logo img {
      width: 190px;
      height: 60px;
      display: block; }
    
    #navbar_list {
	float: right;
	position: relative;
	width: 520px;
	color: white;
	font-family: Quicksand;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 88px;}

	  #navbar_list li {
	  float: right;
	  list-style: none;
	  width: 140px;
	  height: 84px;
	  margin-top: -20px;
	  display: inline-block;
	  text-align: center;
	  text-decoration: none;
	  color: white;}
	  
	    #navbar_list li:hover {
	    background-color: #da6459;
	      -webkit-transition: all .1s ease-in-out;
	      -moz-transition: all .1s ease-in-out;
	      -o-transition: all .1s ease-in-out;
	      transition: all .1s ease-in-out;}

/* SIDEBAR AREA */

#sidebar {
	float: left;
	width: 360px;
	height: auto;
	position: absolute;
	color: #5d6976;
	padding-top: 46px;}
	#sidebar ul {
	text-transform: uppercase;
	font-size: 16px;
	list-style: none;
	color: #5d6976;
	margin-left: 40px;}		
		#sidebar ul li{
		color: #5d6976;}
			#sidebar a{
			text-decoration: none;
			padding: 14px;}

.sidebar_item {
		opacity: 0.6;
		-webkit-transition: all .1s ease-in-out;
	    -moz-transition: all .1s ease-in-out;
	    -o-transition: all .1s ease-in-out;
	    transition: all .1s ease-in-out;}
						
		.sidebar_item:hover {
		opacity: .9;}

#sidebar_active {
		opacity: .95;}

#account-line {
	width: 490px;
	border-bottom: 1px solid #e5e5e5;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 38px;}	

/* CONTENT AREA */

#content {
	width: 960px;
	height: 1190px;;
	position: relative;
	margin: 0 auto;
	background: white;
	border-radius: 8px;
	border: 1px solid #e5e5e5;	
	margin-top: -40px;
	padding-top: 40px;}

#content_container {
	float: right;
	width: 580px;
	height: auto;
	margin-left: 30px;
	padding-top: 34px;
	display: block;}

.account_title {
	font-family: Quicksand;
	font-size: 20px;
	position: relative;
	margin-top: 20px;
	text-transform: uppercase;
	padding-bottom: 20px;}

.field-label {
	font-size: 15px;
	width: 160px;
	display: inline-block;
	margin-left: 30px;
	opacity: 0.8;}

.textarea-label {
	font-size: 15px;
	width: 160px;
	display: inline-block;
	margin-left: 30px;
	opacity: 0.8;
	float: left;
	margin-top: 50px;}

.user-field {
	width: 280px;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 25px;
	font-family: Signika;
	text-indent: 5px;
	color: #5d6976;
	margin-right: 60px;
	border: 1px solid #d2d2d2;
	background: white;
	padding: 5px;
	line-height: 22px;
	font-size: 16px; }	
	
.text-field {
	width: 280px;
	height: 130px;
	margin-left: 10px;
	margin-bottom: 25px;
	font-family: Signika;
	color: #5d6976;
	margin-right: 60px;
	border: 1px solid #d2d2d2;
	background: white;
	padding: 5px;
	line-height: 22px;
	font-size: 14px; 
	overflow: hidden;}	
	

/* Edit Buttons Box */

.save-buttons-box {
	display: inline-block;
	margin-top: 0px;
	margin-left: 370px;
	visibility: hidden;}
	
.edit-button {
	background-color: #fcfcfc;
	width: 40px;
	font-family: Quicksand;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 2px;
	border-bottom: 1px solid gray;
	cursor: pointer;}

.edit-btn {
	margin-left: 442px;
	margin-bottom: 30px;
	margin-top: -65px;
  display: inline-block;
	cursor: pointer;}
			
		
.save-btn {
	color: #7ed87b;
	width: 40px;
	opacity: 1.0;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 4px;
	cursor: pointer;}
	#save-btn:hover {
		opacity: 0.8;}	
	
.cancel-btn {
	color: #e67b6d;
	width: 50px;
	opacity: 1.0;
	display: inline-block;
	cursor: pointer;}
	.cancel-btn:hover {
		opacity: 0.8;}

/* PROFILE PICTURE EDIT */

#profile-picture-edit {
	width: 280px;
	height: 360px;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
	background-color: #f1f3f5;
	border-radius: 5px;
	margin-top: 0px;}
		#profile-picture-edit h4{
			font-size: 19px;
			line-height: 14px;
			font-weight: 600;
			text-align: center;}
		#profile-picture-edit p{
			font-size: 12px;
			margin-top: -28px;
			line-height: 14px;
			font-weight: 400;
			color: #5d6976;
			text-align: center;
			opacity: 0.8;}
				#profile-picture-edit p:hover{
					text-decoration: underline;}
#prof-pic {
	height: 220px;
	width: 200px;
	background-image: url("/static/images/default.jpg");
	margin: 0 auto;
	margin-top: 28px;
	border: 7px solid white;}	

#change-prof-pic {
	height: 100%;
	width: 100%;
	opacity: 0.0;
	text-align: center;
	text-transform: uppercase;
	background: rgba(180,180,180,0.87);
	font-family: Quicksand;
	cursor: pointer;}
		#change-prof-pic:hover {
			opacity: 1.0;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;}
	#change-prof-pic img {
		margin-top: 54px;
		opacity: 0.7;}


/* FOOTER AREA */

#footer_container{
	width: 900px;
	height: 60px;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;}
	
#footer_left {
	float: left;
	width: 520px;
	font-size: 14px;}
	#footer_left ul {
		list-style: none;
		opacity: 0.7;}
		#footer_left a {
		text-decoration: none;}
		#footer_left ul li{
		display: inline;
		text-decoration: none;
		color: #5d6976;
		margin-left: 0px;
		margin-right: 40px;
		padding: 6px;}
	
#footer_right {
	float: right;
	width: 220px;
	font-size: 13px;}
	#footer_right ul {
		list-style: none;
		opacity: 0.7;}
		#footer_right a {
		text-decoration: none;}
		#footer_right ul li{
		display: inline;
		text-decoration: none;
		color: #5d6976;
		margin-left: 10px;
		margin-right: 10px;
		padding: 6px;}
	
	
	
	
	


