/* Welcome Block */

.continue-btn {
  text-decoration: none;
  width: intrinsic;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  background: #3994D1;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  position: relative;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Quicksand;
  font-weight: bold;
  cursor: pointer;
  line-height: 46px;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #308cc9;
  border-radius: 8px;
  margin-left: 155px;
  margin-bottom: 20px;}
  .continue-btn:focus {
    outline: none;}
  .continue-btn:hover {
    background: #308cc9;}

h4 a{
	color: #3994D1;}
	
h2 {
	font-size: 16px;
	text-align: center;
	width: 340px;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 30px;}

#signature {
	margin-left: 180px;}

#video-place {
	margin-top: 10px;
	margin-left: 39px;
	text-align: center;}
	#video-place:hover {
		opacity: 0.8;
		cursor: pointer;}

#account-edit-blocks-wrapper {
  width: 480px;
  height: 630px;
  margin: 0 auto;
  background: white;
  margin-top: 40px;}
  
 h1 {
	 font-family: Quicksand;
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 22px;
	 text-align: center;
	 padding-top: 20px;}
	 
h4 {
	font-weight: 100;
	width: 380px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 30px;
	margin-top: 28px}


/* Specialties Form */

.specialties-container {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-top: 4px;}	
	

/* Submit Button */

.btn {
  text-decoration: none;
  width: intrinsic;
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background: #3994D1;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Quicksand;
  font-weight: bold;
  cursor: pointer;
  line-height: 50px;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #308cc9;
  border-radius: 8px;
   margin-bottom: 20px;}
  .btn:focus {
    outline: none;}
  .btn:hover {
    background: #308cc9;}

#sign-up-button {
	text-align: center;}

#city-input {
	border: 1px solid #d2d2d2;
	background: white;
	padding: 3px;
	width: 230px;
	height: 42px;
	margin-right: 30px;
	line-height: 35px;
	font-size: 16px;
	font-family: Signika;
	border-radius: 3px;
	color: #5d6976;
	text-align: center;}

#state-input {
	border: 1px solid #d2d2d2;
	background: white;
	padding: 3px;
	width: 80px;
	height: 42px;
	line-height: 35px;
	font-size: 16px;
	font-family: Signika;
	border-radius: 3px;
	color: #5d6976;
	text-align: center;}

.radio-section {
	width: 340px;
	margin: 0 auto;}
	.radio-section p {
		text-align: left;
		margin-left: 14px;
		color: rgba(93,105,117,0.53);
		margin-top: 24px;
		margin-bottom: -6px;}

.radio {
	margin-left: 12px;
	margin-right: 6px;
	margin-top: 24px;
	vertical-align: text-bottom;}

	
.selectize-style {
	margin-top: 22px;}	
	
#select-job {
	color: #5d6976;
	font-size: 15px;
	width: 280px;
	margin-left: 14px;
	margin-right: 14px;
	font-family: Signika;
	font-weight: 100;
	border: none;
	height: 40px;
	text-indent: 30px;
	outline: none;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
	border-radius: 6px;
	-webkit-border-radius:6px;
    -moz-border-radius:6px;}



/* SELECTIZE.JS - SELECT SPECIALTY */


.selectize-control.default.multi .selectize-input > div {
	color: white;
	font-family: Signika;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #8ec3ee;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e76f', endColorstr='#a9e25c',GradientType=0 );
}
.selectize-control.default.multi .selectize-input > div.active {
	background: #8ec3ee;
	border: 2px solid #5a94c7;	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c836', endColorstr='#7abc2c',GradientType=0 );
}
.selectize-control.default.multi .selectize-input.disabled > div {
	border-color: #d8d8d8;
	background: #fafafa;
	color: #808080;
}

/**********************************************************
* BASIC AESTHETIC STYLES (common)                        *
**********************************************************/

.selectize-input, .selectize-control.single .selectize-input.focus {
	background: #fff;
	padding: 10px;
	cursor: text;
	display: inline-block;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.selectize-input.dropdown-active {
	-webkit-border-radius: 3px 3px 0 0 !important;
	-moz-border-radius: 3px 3px 0 0 !important;
	border-radius: 3px 3px 0 0 !important;
}
.selectize-input.full {
	background-color: #f1f3f5;
}
.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: #f1f3f5;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}
.selectize-control.multi .selectize-input.has-items {
	padding-top: 8px !important;
	padding-bottom: 3px !important;
}
.selectize-control.multi .selectize-input > div {
	cursor: pointer;
	margin: 0 5px 5px 0;
	padding: 1px 5px;
}
.selectize-input > div:last-child {
	margin-right: 5px;
}
.selectize-input > input {
	margin-right: 2px !important;
}
.selectize-dropdown, .selectize-input, .selectize-control.single .selectize-input.dropdown-active {
	border: 1px solid #d0d0d0;
}
.selectize-dropdown {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	margin-top: -1px;
	border-top: 0 none;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
	padding: 6px 9px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
	border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
	background: #fafafa;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	font-weight: bold;
	font-size: 0.8em;
	cursor: default;
}
.selectize-dropdown .create {
	color: #5d6975;
}
.selectize-dropdown .active {
	background-color: rgba(142,195,238,0.74);
}
.selectize-dropdown, .selectize-input, .selectize-input input {
	color: #303030;
	font-family: Signika;
	font-size: 16px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
}
.selectize-dropdown [data-selectable] .highlight {
	background: rgba(90,148,199,0.5);
	border-radius: 1px;
}
.selectize-input.disabled, .selectize-input.disabled * {
	cursor: default !important;
}

/**********************************************************
* BASIC AESTHETIC STYLES (single)                        *
**********************************************************/

.selectize-control.single .selectize-input {
	cursor: pointer;
	border-color: #b8b8b8;
	background: white;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%,#efefef 100%);
	background: linear-gradient(to bottom, #fafafa 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=0 );
}

.selectize-control.single .selectize-input::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #808080 transparent transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active::after {
	margin-top: -3px;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #808080 transparent;
}

.selectize-control.single .selectize-input.disabled {
	opacity: 0.5;
}

/**********************************************************
* BASIC AESTHETIC STYLES (multi)                         *
**********************************************************/

.selectize-control.multi .selectize-input.disabled {
	background-color: #fafafa;
}

/**********************************************************
* LAYOUT STYLES (mandatory)                              *
**********************************************************/

.selectize-control {
	position: relative;
}
.selectize-input {
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.selectize-input:after {
	content: ' ';
	display: block;
	clear: left;
}
.selectize-input .items {
	display: inline;
}
.selectize-input > * {
	vertical-align: baseline;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.selectize-input > input {
	max-width: 100% !important;
	text-indent: 0 !important;
	border: 0 none !important;
	background: none !important;
	padding: 0 !important;
	margin: 0;
	line-height: inherit !important;
	-webkit-user-select: auto !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.selectize-input > input:focus {
	outline: none !important;
}
.selectize-dropdown {
	position: absolute;
	z-index: 2;
}
.selectize-dropdown > * {
	cursor: pointer;
	overflow: hidden;
}
.selectize-input, .selectize-dropdown {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --- file: "src/plugins/drag_drop/plugin.css" --- */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
	visibility: visible !important;
	background: #f2f2f2 !important;
	background: rgba(0,0,0,0.06) !important;
	border: 0 none !important;
	
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
	content: '!';
	visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
	
}

/* --- file: "src/plugins/optgroup_columns/plugin.css" --- */

.selectize-control.plugin-optgroup_columns .optgroup {
	border-right: 1px solid #f2f2f2;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.selectize-control.plugin-optgroup_columns .optgroup:last-child {
	border-right: 0 none;
}
.selectize-control.plugin-optgroup_columns .optgroup-header {
	border-top: 0 none;
}

/* --- file: "src/plugins/remove_button/plugin.css" --- */

.selectize-control.plugin-remove_button .item {
	position: relative;
	padding-right: 24px !important;
}
.selectize-control.plugin-remove_button .item .remove {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 17px;
	-moz-sizing: border-box;
	-webkit-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: inherit;
	vertical-align: middle;
	display: inline-block;
	padding: 7px 0 0 0;
	line-height: 8px;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	border-left: 1px solid #74b21e;
}
.selectize-control.plugin-remove_button .item .remove:hover {
	border-left-color: #5e8f1a;
	background: rgba(50,90,0,0.15);
}
