

/* SIDEBAR AREA */

#sidebar {
	float: left;
	width: 360px;
	height: intrinsic;
	position: absolute;
	color: #5d6976;
	padding-top: 46px;}
	#sidebar ul {
	text-transform: uppercase;
	font-size: 16px;
	list-style: none;
	color: #5d6976;
	margin-left: 40px;}		
		#sidebar ul li{
		color: #5d6976;}
			#sidebar a{
			text-decoration: none;
			padding: 24px;}

.sidebar_item {
		opacity: 0.6;
		-webkit-transition: all .1s ease-in-out;
	    -moz-transition: all .1s ease-in-out;
	    -o-transition: all .1s ease-in-out;
	    transition: all .1s ease-in-out;}
						
		.sidebar_item:hover {
		opacity: .9;}

#sidebar_active {
		opacity: .95;}

#account-line {
	width: 490px;
	border-bottom: 1px solid #e5e5e5;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 38px;}	
		

/* CONTENT AREA */

#content {
	width: 960px;
	height: 1260px;;
	position: relative;
	margin: 0 auto;
	background: white;
	border-radius: 8px;
	border: 1px solid #e5e5e5;	
	margin-top: -40px;
	padding-top: 40px;}
	

#content_container {
	float: right;
	width: 580px;
	height: auto;
	margin-left: 30px;
	padding-top: 34px;
	display: block;}

.account_title {
  float: left;
	font-family: Quicksand;
	font-size: 20px;
	position: relative;
  width: 400px;
	margin-top: 20px;
	text-transform: uppercase;
	padding-bottom: 20px;}

.field-label {
	font-size: 15px;
	width: 160px;
	display: inline-block;
	margin-left: 30px;
	opacity: 0.8;}

textarea {
	resize: none;} 

.textarea-label {
	font-size: 15px;
	width: 160px;
	display: inline-block;
	margin-left: 30px;
	opacity: 0.8;
	float: left;
	margin-top: 50px;}

.user-field {
	width: 280px;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 25px;
	font-family: Signika;
	text-indent: 5px;
	color: #5d6976;
	margin-right: 60px;
	border: 1px solid #d2d2d2;
	background: white;
	padding: 5px;
	line-height: 22px;
	font-size: 16px; 
	
	opacity: 0.8;}	
	
.text-field {
	width: 280px;
	height: 130px;
	margin-left: 10px;
	margin-bottom: 0px;
	font-family: Signika;
	color: #5d6976;
	margin-right: 60px;
	border: 1px solid #d2d2d2;
	background: white;
	padding: 5px;
	line-height: 22px;
	font-size: 14px; 
	resize: none;
	opacity: 0.8;}	
	

/* Edit Buttons Box */

.save-buttons-box {
	display: inline-block;
	margin-top: 0px;
	margin-left: 204px;
	width: 300px;
	visibility: hidden;}

.saved-alert {
		color: #6dce6a;
		text-transform: uppercase;
		margin-right: 120px;
		display: inline;
		font-size: 12px;}

.edit-container {
  float: right;
	margin-top: 15px;
  margin-right: 92px;
}

.edit-button {
	background-color: #fcfcfc;
	width: 40px;
	font-family: Quicksand;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 2px;
	border-bottom: 1px solid gray;
	cursor: pointer;}


#edit-btn {
	margin-bottom: 30px;
  display: inline-block;
	cursor: pointer;}
			
		
#save-btn {
	color: #7ed87b;
	width: 40px;
	opacity: 1.0;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 4px;
	cursor: pointer;}
	#save-btn:hover {
		opacity: 0.8;}	
	
#cancel-btn {
	color: #e67b6d;
	width: 50px;
	opacity: 1.0;
	display: inline-block;
	cursor: pointer;}
	#cancel-btn:hover {
		opacity: 0.8;}

/* PROFILE PICTURE EDIT */

#profile-picture-edit {
	width: 280px;
	height: 378px;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
	background-color: #f1f3f5;
	border-radius: 5px;
	padding-bottom: 12px;
	margin-top: 0px;}
		#profile-picture-edit h4{
			font-size: 19px;
			line-height: 14px;
			font-weight: 600;
			width: 220px;
			text-align: center;
			margin-bottom: 20px;}
		#profile-picture-edit p{
			font-size: 12px;
			margin-top: -20px;
			line-height: 14px;
			font-weight: 400;
			color: #5d6976;
			text-align: center;
			opacity: 0.8;}
				#profile-picture-edit p:hover{
					text-decoration: underline;}
#prof-pic {
	height: 220px;
	width: 200px;
	margin: 0 auto;
	margin-top: 28px;
	border: 7px solid white;}	

#change-prof-pic {
	height: 100%;
	width: 100%;
	opacity: 0.0;
	text-align: center;
	text-transform: uppercase;
	background: rgba(180,180,180,0.87);
	font-family: Quicksand;
	cursor: pointer;}
		#change-prof-pic:hover {
			opacity: 1.0;
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;}
	#change-prof-pic img {
		margin-top: 54px;
		opacity: 0.7;}

.chars {
	font-weight: 100;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 22px;
	margin-left: 354px;
	visibility: hidden;}
