/* STUDENT MODAL */

body {
  background: white;
}

#register-student-blocks-wrapper {
  background: white;
}

#student_modal {
  z-index: 9999;
	height: 540px;
	width: 500px;
	background-color: white;
	position: relative;
	margin: 0 auto;
	border: 1px solid #d2d2d2;}

#student-modal-title {
	text-align: center;
	padding-bottom: 14px;
	text-transform: uppercase;
	font-family: Quicksand;
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 20px;
	width: 400px;
	margin: 0 auto;
	line-height: 32px;}

#thankyou-title {
	text-align: center;
	padding-bottom: 14px;
	text-transform: uppercase;
	font-family: Quicksand;
	font-weight: 500;
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 20px;
	width: 400px;
	margin: 0 auto;
	line-height: 32px;}

#student-modal-explain {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	margin-top: -28px;
	font-size: 14px;}

.signup-block {
	margin-top: -40px;}


form {
  *zoom: 1;
  min-height: 150px; }
  form:before, form:after {
    content: " ";
    display: table; }
  form:after {
    clear: both; }
  form input {
    margin: 20px auto; }
    form input[type='text'] {
      display: block;
      width: 300px;
      height: 30px; }
      form input[type='text'].input_wide {
        width: 500px; }
    form input[type='password'] {
      display: block;
      width: 300px; }
      form input[type='password'].input_wide {
        width: 500px; }
    form input[type='checkbox'] {
      display: inline-block; }
  form textarea {
    font-family: Signika;
    width: 300px;
    height: 100px;
    display: block;
    resize: none;
    margin: 20px auto;}
  form #next {
    position: relative;
    float: right;
    display: block; }
  form #back {
    background: none;
    color: #5d6976; }
  form #apply {
    position: relative;
    float: none;
    display: block;
    margin: 0 auto; }
  form #terms_box {
    margin: 0 auto;
    display: block;
    width: 320px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin-top: 20px;}

    form #terms_box label {
      text-align: left;
      margin-right: 10px; }
      form #terms_box a {
        color: #8ec0ed; }
  form h3 {
    font-size: 20px;
    text-align: center;
    width: 600px;
    display: block;
    margin: 0 auto; }


input.text_input {
  border: 1px solid #d2d2d2;
  background: white;
  padding: 3px;
  width: 250px;
  height: 28px;
  line-height: 30px;
  font-size: 14px;
  font-family: Signika;
  border-radius: 3px;
  color: #5d6976;
  text-indent: 6px;}

form .large_response {
	height: 120px;}


#student-needs {
	width: 300px;
	height: 90px;
	border: 1px solid #d2d2d2;
	background: white;
	padding: 3px;
	line-height: 24px;
	font-size: 14px;
	font-family: Signika;
	border-radius: 3px;
	color: #5d6976;
	text-indent: 6px;}

.btn {
  text-decoration: none;
  width: intrinsic;
  padding-left: 38px;
  padding-right: 18px;
  height: 60px;
  background: #3994D1;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Quicksand;
  font-weight: bold;
  cursor: pointer;
  line-height: 34px;
  box-shadow: none;
  background-image: url("/static/images/icons/mail-white.png");
  background-repeat: no-repeat;
  background-position: 10% 48%;
  border: none;
  border-bottom: 2px solid #308cc9;
  border-radius: 8px;}
  .btn:focus {
    outline: none;}
  .btn:hover {
    background: #308cc9;
    background-image: url("/static/images/icons/mail-white.png");
    background-repeat: no-repeat;
    background-position: 10% 48%;}

#sign-up-button {
	position: relative;
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-top: 20px;}


/* Thank You Submission */


#student-modal-thanks {
	width: 360px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	margin-top: -18px;
	line-height: 25px;
	font-size: 14px;}

	#student-modal-thanks img{
		padding-top: 30px;}

#invalid-wrap {
  text-align:center;}	
