/* MAIN COLORS */
/* SECONDARY COLORS */
@font-face {
  font-family: Quicksand;
  src: url("/static/fonts/Quicksand/Quicksand_Book-webfont.ttf");
  /* url('Quicksand_Book-webfont.ttf');  IE9 */ }

@font-face {
  font-family: QuicksandBold;
  src: url("static/fonts/Quicksand/Quicksand_Bold-webfont.ttf");
  /* url('Quicksand_Bold-webfont.ttf');  IE9 */ }

@font-face {
  font-family: Signika;
  src: url("/static/fonts/Signika/Signika-Regular.ttf");
  /* url('Signika-Regular.ttf');  IE9 */ }

@font-face {
  font-family: SignikaBold;
  src: url("/static/fonts/Signika/Signika-Bold.ttf");
  /* url('Signika-Bold.ttf');  IE9 */ }

body, html {
  padding: 0;
  font-family: Signika;
  color: #5d6976;
  position: relative;
  background-color: white;
	margin: 0;

}

/* STUDENT MODAL */

#student-modal-wrapper {
  z-index: 9999;

}

#student-modal-title {
	text-align: center;
	text-transform: uppercase;
	font-family: Quicksand;
	font-weight: 500;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 20px;
	width: 400px;
	margin: 0 auto;
	line-height: 32px;}

#student-modal-explain {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	margin-top: -28px;
	font-size: 14px;}

.signup-block {
	margin-top: -40px;}

form {
  *zoom: 1;
  min-height: 150px; }
  form:before, form:after {
    content: " ";
    display: table; }
  form:after {
    clear: both; }
  form input {
    margin: 20px auto; }
    form input[type='text'] {
      display: block;
      width: 300px; }
      form input[type='text'].input_wide {
        width: 500px; }
    form input[type='password'] {
      display: block;
      width: 300px; }
      form input[type='password'].input_wide {
        width: 500px; }
    form input[type='checkbox'] {
      display: inline-block; }
  form textarea {
    font-family: Signika;
    font-size: 16px;
    width: 300px;
    height: 130px;
    display: block;
    resize: none;
    margin: 20px auto; }
  form #next {
    position: relative;
    float: right;
    display: block; }
  form #back {
    background: none;
    color: #5d6976; }
  form #apply {
    position: relative;
    float: none;
    display: block;
    margin: 0 auto; }
  form #terms_box {
    margin: 0 auto;
    display: block;
    width: 320px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin-top: 20px;}

    form #terms_box label {
      text-align: left;
      margin-right: 10px; }
      form #terms_box a {
        color: #8ec0ed; }
  form h3 {
    font-size: 20px;
    text-align: center;
    width: 600px;
    display: block;
    margin: 0 auto; }


input.text_input {
  border: 1px solid #d2d2d2;
  background: white;
  padding: 3px;
  width: 250px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-family: Signika;
  border-radius: 3px;
  color: #5d6976;
  text-indent: 6px;}



form .large_response {
	height: 120px;}


#contact-needs {
	width: 300px;
	height: 90px;
	border: 1px solid #d2d2d2;
  background: white;
  padding: 3px;
 line-height: 22px;
  font-size: 16px;
  font-family: Signika;
  border-radius: 3px;
  color: #5d6976;
  text-indent: 6px;}

.btn {
  text-decoration: none;
  width: 143px;
  height: 41px;
  background: #8ec0ed;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 38px;
  box-shadow: none;
  border: none;}
  .btn:focus {
    outline: none;}
  .btn:hover {
    background: #62a7e6; }

#sign-up-button {
	position: relative;
	margin: 0 auto;
	width: 200px;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 10px;}



/* Thank You Submission */


#student-modal-thanks {
	width: 360px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
	margin-top: -18px;
	line-height: 25px;
	font-size: 14px;}

	#student-modal-thanks img{
		padding-top: 30px;}











	
	
	
