body {
	background-color: #e67b6d;
	color: white;
	font-family: Quicksand;}
		body a {
			text-decoration: none;
			color: white;}
	
#content {
	width: 800px;
	margin: 0 auto;
	line-height: 26px;
	text-indent: 30px;
	font-size: 14px;
	padding: 60px;
	text-align: center;}

h1 {
	font-size: 40px;
	line-height: 60px;}


p a:hover {
	text-decoration: underline;}