body, html {
  padding: 0;
  margin: 0;
  font-family: Signika;
  color: #5d6976;
  background: #f1f3f5;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;}
  	body a{
	  	text-decoration: none;}

/* NAVBAR AREA */

#navbar {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  z-index: 999;
  background-color: #fb5644;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb5644), color-stop(100%, #f85947));
  background-image: -webkit-linear-gradient(#fb5644, #f85947 0%);
  background-image: linear-gradient(#fb5644, #f85947); }

  #navbar_content {
	  width: 960px;
	  margin: 0 auto;
	  position: relative;}
  	#navbar #logo {
    float: left;
    padding: 10px;
    padding-left: 0px;
    margin-left: 5px; }
  	  #navbar #logo img {
      width: 190px;
      height: 60px;
      display: block; }
    #navbar_list {
	float: right;
	position: relative;
	width: 660px;
	color: white;
	font-weight: bold;
	font-family: Quicksand;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 80px;}
	  #navbar_list li {
	  float: right;
	  list-style: none;
	  margin-left: 70px;
	  padding: 4px;
	  height: 77px;
	  margin-top: -20px;
	  display: inline-block;
	  text-align: center;
	  text-decoration: none;
	  color: white;}  
	    #navbar_list li:hover {
	    text-decoration: underline;
	    -webkit-transition: all .1s ease-in-out;
	    -moz-transition: all .1s ease-in-out;
	    -o-transition: all .1s ease-in-out;
	    transition: all .1s ease-in-out;}
	    
#nav_tagline {
	font-weight: bold;}

/* #sign-up {
	background: #d53221;
	width: 130px;}	 */   
	    
	    
	    
	    
/* GLOBAL FOOTER AREA (SALMON) */


#global_footer {	
 	 width: 100%;
 	 height: 140px;
 	 position: relative;
 	 bottom: 0;
 	 z-index: 999;
 	 background-color: #fb5644;
 	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb5644), color-stop(100%, #f85947));
 	 background-image: -webkit-linear-gradient(#fb5644, #f85947 0%);
 	 background-image: linear-gradient(#fb5644, #f85947); }
  
#global_footer_content {
	width: 980px;
	height: 90px;
	position: relative;
	margin: 0 auto;
	display: block;
	font-family: Quicksand;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 50px;
	text-align: center;
	font-weight: bold;}
		#global_footer_content a{
			color: white;
			list-style: none;
			display: inline-block;
			margin: 0 40px;
			text-decoration: none;
			padding: 10px;
			opacity: 1.0;}
		#global_footer_content p{
			color: white;
			list-style: none;
			display: inline-block;
			margin: 0 40px;
			text-decoration: none;
			padding: 10px;
			opacity: 1.0;}

/* SECONDARY FOOTER AREA (GRAY) */

#footer_container{
	width: 900px;
	height: 60px;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;}
	
#footer_left {
	float: left;
	width: 520px;
	font-size: 14px;}
	#footer_left ul {
		list-style: none;
		opacity: 0.7;}
		#footer_left a {
		text-decoration: none;}
		#footer_left ul li{
		display: inline;
		text-decoration: none;
		color: #5d6975;
		margin-left: 0px;
		margin-right: 40px;
		padding: 6px;}
	
#footer_right {
	float: right;
	width: 240px;
	font-size: 13px;}
	#footer_right ul {
		list-style: none;
		opacity: 0.7;}
		#footer_right a {
		text-decoration: none;}
		#footer_right ul li{
		display: inline;
		text-decoration: none;
		color: #5d6976;
		margin-left: 10px;
		margin-right: 10px;
		padding: 6px;}
	
#invalid-wrap {
  text-align: center;
}

::-webkit-input-placeholder {
   color: rgba(93,105,117,0.71);}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(93,105,117,0.71);}

:-ms-input-placeholder {  
   color: rgba(93,105,117,0.71);}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease; 
  opacity: 0;}
