
.text_container {
	width: 1080px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;}

.section-title {
	text-align: center;
	width: 190px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
	border-bottom: 1px solid rgba(93,105,117,0.26);}


/* Top SECTION */

#top-section {
	background-color: #3994D1;
	width: 100%;
	height: 440px;}
		#top-section h1 {
		text-align: center;
		color: white;
		font-family: Quicksand;
		margin-top: 60px;
		font-size: 36px;}
		#top-section h3 {
		text-align: center;
		color: white;
		font-weight: 400;
		opacity: 0.8;
		margin-top: 20px;
		font-size: 20px;}

#top-lower-section {
	background: white;
	padding-bottom: 170px;
	border-bottom: 1px solid #c8c8c8;}
	
#macbook {
	width: 520px;
	height: 390px;
	margin-top: -300px;
	z-index: 999;
	margin-left: 50px;
	position: relative;}
		#macbook img{
			z-index: 999;
			position: relative;}

#mac-slider {
	position: relative;
	margin-top: -296px;
	margin-left: 112px;
	height: 254px;
	width: 394px;
	background-image: url("/static/images/elements/slider1.png");
	z-index: 9;}		

#connect-arrow-box {
		width: 560px;
		height: 200px;
		float: right;
		position: relative;
		margin-left: 590px;
		margin-top: -260px;}
		#connect-arrow{
			margin-left: 60px;
			z-index: 9;}
		#name {
			width: 160px;
			height: 80px;
			position: absolute;
			margin-top: -107px;
			margin-left: 282px;
<<<<<<< HEAD
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url("img/name1.png");
=======
      background-repeat: no-repeat;
			background-position: center center;
			background-image: url("/static/images/elements/name1.png");
>>>>>>> 21e2d8443988e2e57ecf85a35e95f1f2370e6400
			border-image: none;}


.top-button {
	background-color: #36DC57;
	width: 200px;
	border-bottom: 2px solid #2ccd4c;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 62px;
	border-radius: 7px;
	float: right;
	margin-right: 174px;
	display: block;
	z-index: 99;
	margin-top: 0px;}
		.top-button:hover {
			background-color: #2ccd4c;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
						
#top-text-right {
		float: right;
		margin-top: -60px;
		width: 380px;
		margin-right: 60px;}		
			#top-text-right h4 {
				font-size: 18px;
				font-weight: 400;
				display: inline;}
			#top-text-right p{
				margin-left: 36px;}
			#top-text-right img{
				height: 20px;
				width: 20px;
				opacity: .9;
				display: inline-block;
				margin-right: 12px;
				padding-top: 20px;} 

#slp-join-top {
	float: left;
	margin-top: 92px;
	margin-left: 53px;
	font-weight: 500;	
	font-family: Quicksand;
	font-size:20px;
	text-align: center;
	width: 500px;}
	#slp-join-top a{
	font-weight: 800;
	color: #5d6976;
	text-decoration: underline;
	padding: 8px;}
		#slp-join-top a:hover{
			opacity: 0.7;}
/* STEPS SECTION */

#steps-section {
	width: 100%;
	height: auto;
	z-index: 999;
	color: #5d6976;
	padding-bottom: 60px;
	border-bottom: 1px solid #c8c8c8;
	margin-top: 60px;}

#steps-section h1 {
	text-align: center;
	width: 600px;
	font-size: 26px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;}		
	
#steps-container {
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;}	

.steps-box {
	padding-top: 70px;
	height: 260px;}

.steps-image {
	width: 400px;
	display: inline-block;}

		
.steps-text {
	width: 400px;
	float: right;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 200;
	line-height: 26px;}
		.steps-text h3{
			font-size: 24px;
			color: #3994D1;
			line-height: 36px;
			font-family: Quicksand;}
	
.steps-text2 {
	width: 400px;
	float: left;
	margin-left: 20px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 200;
	padding-bottom: 20px;}
		.steps-text2 h3{
			font-size: 24px;
			color: #3994D1;
			line-height: 36px;
			font-family: Quicksand;}

#steps-image2 {
	margin-left: 80px;
	padding-bottom: 30px;}
	
	
#needs-image {
	width: 230px;
	height: 230px;
	margin-left: 100px;}
	
#profiles-image {
	width: 300px;
	height: 225px;
	margin-left: 60px;}
	
	
/* PARENT eBOOK SECTION */

#ebook-section {
	height: auto;
	margin: 0 auto;
	background: white;
	padding-bottom: 50px;
	padding-top: 40px;}
		#ebook-section h3 {
			font-family: Quicksand;
			font-size: 20px;
			font-weight: 500;
			margin-left: 0px;}

#ebook-container {
	width: 900px;
	position: relative;
	margin: 0 auto;}
	
#ebook-image-box {
	float: left;
	display: inline-block;}
	
.email-box {
	width: 440px;
	margin-top: 28px;
	display: inline-block;
	margin-left: 54px;}
	.email-box h2 {
		font-size: 23px;
		font-weight: 600;
		text-align: center;
		font-family: Quicksand;}
		.email-box h4 {
			margin-top: 20px;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;}

.text_inputs {
	background-color: #f1f3f5;
	border-radius: none;
	width: 280px;
	margin-bottom: 20px; 
	height: 40px;
	font-size: 14px;
	border: none;
	margin-left: 4px;
	color: gray;
	text-indent: 40px;}
	
#signin_email {
	background-image: url("/static/images/icons/mail-gray.png");
	background-repeat: no-repeat;
	background-position-x: 10px;
	background-position-y: 14px;}	

.ebook-button {
	display: inline-block;
	width: intrinsic;
	padding-left: 14px;
	padding-right: 14px;
	height: 40px;
	background-color: #3994D1;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 44px;
	border-radius: 4px;
	padding-top: 1px;}
					
#parent-button {
	margin-left: 4px;
	background-color: #3994D1;
	border-bottom: 2px solid #308cc9;
	margin-top: 10px;
	cursor: pointer;}
		#parent-button:hover {
			background-color: #308cc9;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
			