body a {
	text-decoration: none;
	color: inherit;
}
    
/* TOP-IMAGE AREA */

#top-image {
	width: 100%;
	height: 460px;
	background-image: url('/static/images/backgrounds/therapy2.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -36px;}
		#top-image h1 {
			color: white;
			text-align: center;
			font-family: Quicksand;
			font-weight: 400;
			opacity: 0.9;
			padding-top: 110px;
			font-size: 32px;}
		#top-image h3 {
			color: white;
			text-align: center;
			font-family: Signika;
			font-weight: 300;
			opacity: 0.8;
			font-size: 26px;
			font-weight: 500;}
			
.rotate-role {
	font-weight: bold;}

/* CONTENT AREA */

#content {
	width: 100%;
	height: intrinsic;
	position: relative;
	margin: 0 auto;
	background: white;
	padding-top: 30px;
	padding-bottom: 50px;}

#content-container {
	width: 1000px;
	border: 1px solid lime;
	height: auto;
	margin: 0 auto;
	padding-top: 40px;}

/* SEARCHBAR AREA */

#searchbar-area {
	width: 100%;
	height: 190px;
	background: rgba(0,0,0,0.24);
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: -270px;}

#searchbar-field-container {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;}

.search-text {
	font-size: 20px;
	font-family: Signika;
	font-weight: 100;
	color: white;
	vertical-align: middle;}


#buttons-container {
	padding-top: 10px;}

#search-button {
	width: 280px;
	height: 74px;
	background-color: #8EC0ED;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	text-indent: 32px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 64px;
	border-radius:90px;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
	cursor: hand;
	display: inline-block;
	background-image: url("/static/images/icons/magnify.png");
	background-repeat: no-repeat;
	background-position: 10% 48%;
	border: 3px solid #5b95c8;}
		#search-button:hover {
			background-color: #7ab5e8;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}

#continue-button {
	width: 190px;
	height: 56px;
	background-color: #9AE598;
	border: 2px solid #5cc258;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	border-radius:30px;
	margin: 0 auto;
	margin-left: 10px;
	text-indent: 5px;
	cursor: pointer;
	cursor: hand;
	background-image: none;}
		#continue-button:hover {
			background-color: #84e081;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}

#show-options {
	color:white;
	text-decoration: none;
	padding: 10px;
	padding-left: 20px;
	text-transform: uppercase;
	font-family: Quicksand;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	cursor: hand;}
		#show-options a{
			text-decoration: none;
			color: white;
			font-size: 16px;}
					
.seeMore {
	display: inline;}

#advanced-options-container {
	text-align: center;
	background-color: #f1f3f5;
	border-bottom: 1px solid #c0c4c8;
	border-top: 1px solid #c0c4c8;
	width: 100%;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: -30px;
	font-size: 14px;
	display: none;}

			
/* FORM STYLES */

select {
	color: #5d6976;
	font-size: 15px;
	width: 280px;
	margin-left: 14px;
	margin-right: 14px;
	font-family: Signika;
	font-weight: 100;
	border: none;
	height: 40px;
	text-indent: 30px;
	outline: none;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
	border-radius: 6px;
	-webkit-border-radius:6px;
    -moz-border-radius:6px;}
    
#select-need {    
    background-image: url("/static/images/icons/pencil.png");
	background-repeat: no-repeat;
	background-position: 4% 48%;}

.advanced-select {
	background-repeat: no-repeat;
	background-position: 6% 48%;
	font-size: 14px;
	margin-left: 8px;
	margin-right: 8px;}
	
#age-image {
	background-image: url("/static/images/icons/age.png");
	width: 130px;}

#office-image {
	background-image: url("/static/images/icons/office.png");
	width: 230px;}

#payment-image {
	background-image: url("/static/images/icons/payment.png");
	background-repeat: no-repeat;
	width: 220px;}


input {
	color: #5d6976;
	background-color: #E8E8E8;
	font-size: 15px;
	width: 130px;
	margin-left: 14px;
	margin-right: 14px;
	font-family: Signika;
	font-weight: 100;
	border: none;
	height: 40px;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #5d6975;
	background-image: url("/static/images/icons/pin.png");
	background-repeat: no-repeat;
	background-position: 10% 48%;}


::-webkit-input-placeholder {
   color: #5d6976;}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5d6976;}

:-ms-input-placeholder {  
   color: #5d6976;}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease; 
  opacity: 0;}


/* PROFILE BOXES */

.row {
	display: inline;
	width: 1010px;
	margin: 0 auto;
	/*border: 1px solid aqua;*/
	margin-bottom: 50px;}

.profile-card {
	width: 460px;
	height: 298px;
	background-color: #fdfdfd;
	border: 1px solid #c0c4c8;
	border-radius: 16px;
	display: inline-block;
	margin-left: 30px;
	z-index: 99;
	cursor: pointer;}

.profile-card:hover {
			background-color: rgba(251,252,252,0.82);
			
			box-shadow: 0px 1px 1px 1px rgba(93,105,117,0.36);
	 		-webkit-box-shadow: 0px 1px 0px 1px rgba(93,105,117,0.36);
	 		-moz-box-shadow: 0px 1px 0px 1px rgba(93,105,117,0.36);
	 		-o-box-shadow: 0px 1px 0px 1px rgba(93,105,117,0.36);
	 		
	 		-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			
			transform: translate(0px,-3px);
			-ms-transform: translate(0px,-3px); /* IE 9 */
			-webkit-transform: translate(0px,-3px); /* Safari and Chrome */}

.profile-link {
	text-decoration: none;
	color: inherit;}

.prof-pic-box {
	width: 132px;
	height: 145px;
	float: left;
	margin-left: 30px;
	margin-top: 26px;
	border: 5px solid #ffffff;
	box-shadow: 0px 0px 6px 1px rgba(155,167,178,0.27);
	z-index: 99;
	position: relative;
	background-size: cover;}

.prof-pic-box img {
  width: 132px;
  height: 145px;
}

.prof-right-info {
	float: right;
	margin-top: 18px;
	margin-right: 28px;
	height: 162px;
	width: 230px;
	max-height: 162px;
	position: relative;}

.provider-name {
	margin-top: 10px;
	margin-bottom: -4px;
	font-size: 24px;
	color: #8ec3ee;
	display: inline-block;}
				
.provider-credentials {
	display: inline;
	font-size: 15px;
	margin-left: 6px;
	vertical-align: text-top;
	opacity: 0.7;}			
	
.provider-info {
	font-size: 14px;
	margin-top: 17px;
	margin-left: 26px;}		
	.image {
		width: 16px;
		position: absolute;} 
.provider-info a{
  text-decoration: underline;
	color: inherit;}
	.provider-info a:hover{	
		opacity: 0.8;
    }
		
.specialty {
	line-height: 21px;}	
		
.quote-box {
	font-size: 15px;
	font-weight: 100;
	height: 70px;
	width: 394px;
	position: relative;
	margin-top: 18px;
	margin-left: 36px;
	line-height: 26px;
	display: inline-block;
	background-image: url("/static/images/icons/quote-sign1.png"); 
	background-repeat: no-repeat;
	text-indent: 28px;}	
				.profile-card:hover h7{
					cursor: pointer;
					color: #e67b6d;
					opacity: 1.0;				
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-o-transition: all .2s ease-in-out;}

.view-profile-link {
	position: absolute;
	margin-left: 260px;
	margin-top: -22px;}

	.view-profile-link h7{
			font-size: 12px;
			text-transform: uppercase;
			font-family: Quicksand;
			font-weight: bold;
			opacity: 0.4;
			padding: 4px;
			text-align: center;
			text-decoration: underline;}

/* NO-RESULTS BLOCK */

#no-results-block {
	width: 420px;
	height: 420px;
	border-radius: 30px;
	margin: 0 auto;
	background-color: #fdfdfd;
	border: 1px solid #c0c4c8;}
		#no-results-block p {
			font-family: Signika;
			text-align: center;
			margin-top: 30px;
			width: 300px;
			margin: 0 auto;
			line-height: 22px;}
		#no-results-block h1 {
			font-weight: 100;
			text-align: center;
			margin-top: -6px;}
			#no-results-block img {
			
				margin-left: 146px;
				margin-top: 20px;}

#no-results-email {
	background-image: none;
	background: white;
	width: 280px;
	text-align: center;
	margin-left: 20px;
	margin-top: 30px;
	display: inline-block;
	border: 1px solid #c0c4c8;
	margin-left: 60px;}

#email-signup-button {
	background-image: none;
	background-color: #e67b6d;
	color: white;
	cursor: pointer;
	cursor: hand;
	width: 80px;
	margin-top: 20px;
	margin-left: 170px;
	border: 1px solid white;}


/* Page Footer/Listings */

#pages-display {
	width: 1000px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
	border: 1px solid lime;
	display: block;
	font-family: Quicksand;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.9;}
	#pages-display ul{
			list-style: none;}
		#pages-display li {
			display: inline;
			margin-left: 8px;
			margin-right: 8px;}
	
#breadcrumbs-box {
	width: 400px;
	float: left;
	display: inline-block;
	text-align: left;}
	#breadcrumbs-box a {
		text-decoration: underline;}
		.chevron {
			font-weight: 500;
			display: inline;
			opacity: 0.8;}
		
#page-number-box {
	width: 400px;
	float: right;
	display: inline-block;
	text-align: right;}
		
		


