

#go_back {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 14px;
	opacity: 0.7;
	font-style: italic;}	
	#go_back a{
		text-decoration: none;
		color: #5d6976;}	
	#go_back a:hover{
		text-decoration: underline;}
  
/* SIGN IN FORM */  
  
#container {
	background: white;
	position: relative;
	height: 350px;
	width: 540px;
	margin: 0 auto;
	margin-top: 70px;
	border:5px solid #e2e2e2;}  


#top_logo_bar {
	width: 540px;
	height: 80px;
	background: #e67b6d;}
	#top_logo_bar img {
		height: 50px;
		width: 162px;
		margin-left: 174px;
		margin-top: 20px;}

#login_container {
	width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-top: 40px;
	
}

.text_inputs {
	border: none;
	background-color: #f5f3ef;
	border-radius: none;
	width: 280px;
	margin-bottom: 20px; 
	height: 40px;
	font-size: 14px;
	margin-left: 60px;
	text-indent: 20px;
	color: gray;
}

#login_submit {
	width: 140px;
	height: 50px;
	background-color: #8EC0ED;
	color: white;
	font-family: Quicksand;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 220px;
	border: none;}
	#login_submit:hover {
	opacity: 0.8;
	cursor: pointer;
	}

#forgot {
width: 130px;
	opacity: 0.4;
	margin-left: 40px;
	margin-top: -34px;}
	#forgot:hover{
		opacity:.8;}
