
	        	        

/* CONTENT */

.text_container {
	width: 1080px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;}

.section-title {
	text-align: center;
	width: 190px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
	border-bottom: 1px solid rgba(93,105,117,0.26);}


/* Top SECTION */

#top-section {
	background-color: #f1f3f5;
	width: 100%;
	height: 440px;}
		#top-section h1 {
		text-align: center;
		color: #5d6975;
		font-family: Quicksand;
		margin-top: 60px;
		font-size: 36px;}
		#top-section h3 {
		text-align: center;
		font-weight: 400;
		opacity: 0.8;
		margin-top: 20px;
		font-size: 20px;}
			#top-section img {
				width: 600px;
				height: 300px;
				margin-left: 240px;
				margin-top: 20px;}

/* SIGN UP SECTION */

#sign-up-section {
	background: #3994D1;
	height: auto;
	color: white;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 70px;}
		#sign-up-section h1 {
			font-family: Quicksand;
			font-size: 32px;
			font-weight: 500;
			letter-spacing: 2px;
			padding-bottom: 18px;	
			width: 600px;
			margin: 0 auto;
			text-align: center;
			margin-top: 30px;
			text-transform: uppercase;}
			
#sign-up-box {
	width: 900px;
	margin: 0 auto;
	margin-top: 40px;}			
	#sign-up-box h2{	
		font-family: Signika;
		font-weight: 300;
		font-weight: bold;
		font-size: 24px;}		
	#sign-up-box p{		
		font-family: Signika;
		font-weight: 100;
		font-size: 16px;
		line-height: 24px;}
		
.sign-up-hut {
	width: 240px;
	display: inline-block;
	margin-left: 45px;}
	
			
#quote-container {
	width: 800px;
	margin: 0 auto;
	margin-top: 40px;}
		#quote-container img{
			height: 100px;
			margin-left: 40px;
			border-radius: 200px;
			border: 3px solid #ffffff;}	
			
#quote {
	margin-top: 6px;
	width: 620px;
	float: right;
	font-family: Signika;
	font-weight: 100;
	line-height: 30px;
	font-style: italic;
	text-indent: 12px;
	font-size: 18px;
	padding-bottom: 20px;}
		#quote p{
			font-size: 13px;
			font-style: normal;
			text-indent: 60px;}


/* SLP eBOOK SECTION */

#slp-ebook-section {
	height: 320px;
	margin: 0 auto;
	background: #ffffff;
	padding-bottom: 50px;
	padding-top: 20px;}
		#slp-ebook-section h3 {
			font-family: Quicksand;
			font-size: 20px;
			font-weight: 500;
			margin-left: 0px;}

#slp-ebook-container {
	width: 900px;
	position: relative;
	margin: 0 auto;}
	
#slp-ebook-image-box {
	float: right;
	margin-top: -20px;
	display: inline-block;}
	
.slp-email-box {
	width: 430px;
	float: left;
	margin-top: 28px;
	display: block;
	margin-left: 54px;}
	.slp-email-box h2 {
		font-size: 23px;
		font-weight: 600;
		font-family: Quicksand;}
		.slp-email-box h4 {
			margin-top: 20px;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;}

.text_inputs {
	background-color: #f1f3f5;
	border-radius: none;
	width: 280px;
	margin-bottom: 20px; 
	height: 40px;
	font-size: 14px;
	border: none;
	margin-left: 4px;
	color: gray;
	text-indent: 40px;}
	
#signin_email {
	background-image: url("/static/images/icons/mail-gray.png");
	background-repeat: no-repeat;
	background-position-x: 10px;
	background-position-y: 14px;}	

.ebook-button {
	display: inline-block;
	width: intrinsic;
	padding-left: 14px;
	padding-right: 14px;
	height: 40px;
	background-color: #3994D1;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 44px;
	border-radius: 4px;}
					
#slp-button {
	background-color: #36DC57;
	border-bottom: 1px solid #2ccd4c;
	margin-top: 10px;
	cursor: pointer;}
		#slp-button:hover {
			background-color: #2ccd4c;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}

#sent-success {
	font-size: 14px;
	color: #2ccd4c;
	margin-left: 40px;
	font-style: italic;}		
	
			


