	        
/* CONTENT */


.text_container {
	width: 1080px;
	margin: 0 auto;}
	
/* MAIN SECTION */

#main_section {
	position: relative;
	background-image: url("/static/images/backgrounds/bg21.png");
	background-repeat: repeat-y;
	background-size: cover;
	width: 100%;
	height: 520px;
	margin-top: -30px;
	left: 0px;
	z-index: 9;
	}

#main_title {
	text-align: center;
	font-family: Quicksand;
	font-size: 44px;
	color: white;
	position: relative;
	padding-top: 70px;
	font-weight: bold;}
	
#main_explain {
	width: 430px;
	color: white;
	font-size: 19px;
	font-weight: 400;
	line-height: 36px;
	margin-top: 50px;
	margin-left: 30px;}	

#student-button {
	position: relative;
	color: white;
	background-color: #3994D1;
	height: 80px;
	width: intrinsic;
	padding-left: 24px;
	padding-right: 24px;
	margin-left: 120px;
	margin-top: 30px;
	border-radius: 8px;
	font-family: Quicksand;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 78px;
	display: inline-block;
	border-bottom: 3px solid #308cc9;}
		#student-button:hover {
			background-color: #308cc9;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}


#slp-cta {
	font-size: 18px;
	margin-left: 30px;
	margin-top: 26px;
	font-style: italic;
	font-weight: 700;
	color: white;}

			
#content a{
	text-decoration: none;}


/* FEATURES SECTION */

#features_section {
	width: 100%;
	height: auto;;
	z-index: 999;
	color: #5d6976;
	padding-bottom: 60px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;}

#features-title {
	text-align: center;
	width: 800px;
	font-size: 22px;
	font-family: Quicksand;
	font-weight: 500;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;
	padding-top: 70px;}	


#icon-container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 70px;}

.icon-box {
	width: 258px;
	height: 300px;
	display: inline-block;
	text-align: center;
	margin-left: 60px;}
	
	.icon-box img:hover {
			transform: translate(0px,-5px);
			-ms-transform: translate(0px,-5px); /* IE 9 */
			-webkit-transform: translate(0px,-5px); /* Safari and Chrome */}

	.icon-box p{
		font-size: 14px;
		line-height: 20px;}

.icon-title {
	font-size: 20px;
	font-weight: 400;}
	

/* JOIN SECTION */

#join_section {
	height: auto;
	margin: 0 auto;
	background: #ffffff;
	padding-bottom: 70px;}
		#join_section h3 {
			font-family: Quicksand;
			font-size: 20px;
			font-weight: 500;
			margin-left: 40px;}

#join-container {
	width: 1000px;
	position: relative;
	margin: 0 auto;
	padding-top: 70px;}
	
.join-box {
	width: 420px;
	display: inline-block;
	text-align: center;
	margin-left: 54px;}
	.join-box h2 {
		font-size: 22px;
		font-weight: 300;
		font-family: Quicksand;}
		.join-box h4 {
			margin-top: 30px;
			font-weight: 400;
			font-size: 17px;
			line-height: 24px;}

.profile-button {
	width: intrinsic;
	padding-left: 12px;
	padding-right: 12px;
	height: 60px;
	background-color: #3994D1;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-family: Quicksand;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 62px;
	border-radius: 7px;}

#parent-button {
	margin: 0 auto;
	background-color: #3994D1;
	width: 170px;
	border-bottom: 2px solid #308cc9;
	margin-top: 40px;}
		#parent-button:hover {
			background-color: #308cc9;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
					
#join-button {
	margin: 0 auto;
	background-color: #36DC57;
	width: 170px;
	border-bottom: 2px solid #2ccd4c;
	margin-top: 40px;}
		#join-button:hover {
			background-color: #2ccd4c;
			 -webkit-transition: all .1s ease-in-out;
			 -moz-transition: all .1s ease-in-out;
			 -o-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;}
	