<!DOCTYPE html>
<html>

  <head>
    <title>Oops! Something went wrong... - 500 ERROR</title>
    <link rel="stylesheet" type="text/css" href="/static/style/error.css">
     <link rel="stylesheet" type="text/css" href="/static/style/fonts.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico"/>
    
  </head>

  <body>

	  <div id="content">
	  
	  	<img src="/static/images/graphics/500.png">
	  	
	  	<h1>Oops! Something went wrong. <br/>We'll look into it...</h1>
	  	
	  	<p><a href="/">&larr; Return to homepage</a></p>
	  	
	  	  
	  </div><!-- end content -->


  </body>
</html>
